<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/measurement_systems" >Objectives</a></li>
                            <li><a href="/module/measurement_systems/topics/kinds_of_measurement_systems">Kinds of Measurement System </a></li>
                            <li><a href="/module/measurement_systems/topics/SI_systmes">The SI System</a></li>
                            <li><a href="/module/measurement_systems/topics/calculations_in_SI_system">Calculations in the SI System </a></li>
                            <li><a href="/module/measurement_systems/topics/avoirdrupois_system">The Avoirdupois System</a></li>
                            <li><a href="/module/measurement_systems/topics/apothecaries_system">The Apothecaries System</a></li>
                            <li><a href="/module/measurement_systems/topics/common_system">Common or Household System of Measurements</a></li>
                            <li><a href="/module/measurement_systems/topics/conversion_between_measurement_system">Converting between Measurement Systems</a></li>
                            <li><a href="/module/measurement_systems/practice">Practice Problems</a></li>
                    
                    
                </ul>
            </nav>

           <!-- Page Content Holder -->
            <% heading= 'MEASUREMENT SYSTEMS'; %>
            <% next = 'pharmaceutical_measurement' %>
            <% include navbar %>