<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/basic_math_fundamentals" >Objectives</a></li>
                            <li><a href="/module/basic_math_fundamentals/topics/arabic_and_roman_numerals">Arabic and Roman Numerals </a></li>
                            <li><a href="/module/basic_math_fundamentals/topics/proportional_calculations">Proportional Calculations</a></li>
                            <li><a href="/module/basic_math_fundamentals/topics/dimensional_analysis">Dimensional Analysis </a></li>
                            <li><a href="/module/basic_math_fundamentals/topics/significant_figures">Significant Figures</a></li>
                            <li><a href="/module/basic_math_fundamentals/practice">Practice Problems</a></li>
                    
                    
                </ul>
            </nav>
            <% heading= 'BASIC MATH FUNDAMENTALS'; %>
            <% next = 'calculation_of_doses' %>
           <% include navbar %>