<% include header %>

       <% include header_index %>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/calculation_of_doses" >Objectives</a> </li>
                        <li><a href="/module/calculation_of_doses/topics/drug_dosing">Drug Dosing</a></li>
                        <li><a href="/module/calculation_of_doses/topics/body_weight">Drug Dosing based on Body weight</a></li>
                        <li><a href="/module/calculation_of_doses/topics/actual_body_weight">Drug Dosing based on Adjusted Body weight</a></li>
                        <li><a href="/module/calculation_of_doses/topics/bsa">Drug Dosing based on Body Surface Area (BSA)</a></li>
                        <li><a href="/module/calculation_of_doses/topics/nomogram">BSA using Nomogram Method</a></li>
                        <li><a href="/module/calculation_of_doses/topics/bsa_mosteller">BSA using Mostellar Equation</a></li>
                        <li><a href="/module/calculation_of_doses/topics/creatinine_clearance">Drug Dosing based on Creatinine Clearance</a></li>
                        <li><a href="/module/calculation_of_doses/topics/chemotherapy">Drug Dosing based on Chemotherapy</a></li>
                        <li><a href="/module/calculation_of_doses/topics/drug_dosage_units">Drug Dosage Based on Units </a></li>
                        <li><a href="/module/calculation_of_doses/topics/general_dose_1">General Dose Calculations – Number, size of a dose, total quantity of a Drug </a></li>
                        <li><a href="/module/calculation_of_doses/topics/general_dose_2">General Dose Calculations - Calibrating a Dropper </a></li>
                        <li><a href="/module/calculation_of_doses/practice">Practice Problems</a></li>
                            
                    
                </ul>
            </nav>

            <!-- Page Content Holder -->
           <% heading= 'CALCULATION OF DOSES'; %>
           <% next = 'dilution_and_concentration' %>
            <% include navbar %>