<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/dilution_and_concentration" >Objectives</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/dilution_and_concentration">Dilution</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/concentration">Concentration</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/algebraic_and_Alligation">Algrebraic Method</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/alligation">Alligation Method</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/mixing_ointment">Alligation Method for Mixing Ointments</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/three_strengths">Alligation Method for Mixing 3 Strengths</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/specific_gravity">Algebraic/Alligation Method for Specific Gravity</a></li>
                            <li><a href="/module/dilution_and_concentration/topics/stock_solutions">Stock Solutions</a></li>
                            <li><a href="/module/dilution_and_concentration/practice">Practice Problems</a></li>
                            
                    
                    
                </ul>
            </nav>

            <!-- Page Content Holder -->
             <% heading= 'DILUTION AND CONCENTRATION'; %>
             <% next = 'expressions_of_concentration' %>
             <% include navbar %>
          