

       <div class="wrapper">
            <!-- Sidebar Holder -->
             <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="/" style="text-align: center;"><h3>UH PHAR 4330</h3></a>
                </div>