<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/reducing_and_enlarging_formulas" >Objectives</a></li>
                            <li><a href="/module/reducing_and_enlarging_formulas/topics/reducing_and_enlarging"> Reducing and Enlarging </a></li>
                            <li><a href="/module/reducing_and_enlarging_formulas/topics/factor_method">Using the Factor Method</a></li>
                            <li><a href="/module/reducing_and_enlarging_formulas/topics/specify_weight_volume">Formulas Specifying Weight or Volume </a></li>
                            <li><a href="/module/reducing_and_enlarging_formulas/topics/specify_proportional_parts">Formulas Specifying Proportional parts</a></li>
                            <li><a href="/module/reducing_and_enlarging_formulas/practice">Practice Problems</a></li>
                    
                    
                </ul>
            </nav>

           <!-- Page Content Holder -->
            <% heading= 'REDUCING AND ENLARGING FORMULAS'; %>
            <% next = '' %>
            <% include navbar %>