<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/interpretation_of_prescription" >Objectives</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/prescription_and_medication">Prescription and Medication Orders</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/drug_form">Abbreviation for Drug Form</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/drug_dispensing">Abbreviations for Drug Dispensing</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/dose_directions">Abbreviations for Dose Directions</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/route_directions">Abbreviations for Route Directions</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/frequency_directions">Abbreviations for Frequency Directions</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/frequency_modifiers">Abbreviations for Frequency Modifiers</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/abbreviation_for_indication">Abbreviation For Indication</a></li>
                            <li><a href="/module/interpretation_of_prescription/topics/medication_adherence">Medication Adherence</a></li>
                            <li><a href="/module/interpretation_of_prescription/practice">Practice</a></li>
                </ul>
            </nav>

           <!-- Page Content Holder -->
            <% heading= 'INTERPRETATION OF PRESCRIPTION'; %>
            <% next = 'measurement_systems' %>
            <% include navbar %>