<% include header %>

        <% include header_index %>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="/module/pharmaceutical_measurement" >Objectives</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/sensitivity_requirement">Sensitivity Requirement</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/percentage_error">Percentage Error</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/minimum_weighable_quantity">Minimum Weighable Quantity (MWQ)</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/aliquot_method">Weighing by the Aliquot Method</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/volume_by_aliquot_method">Measuring Volume by the Aliquot Method</a></li>
                            <li><a href="/module/pharmaceutical_measurement/topics/percentage_error_in_weighing">Calculating Percentage Error in Weighing</a></li>
                            <li><a href="/module/pharmaceutical_measurement/practice">Practice Problems</a></li>
                    
                    
                </ul>
            </nav>

           <!-- Page Content Holder -->
            <% heading= 'PHARMACEUTICAL MEASUREMENT'; %>
            <% next = 'reducing_and_enlarging_formulas' %>
            <% include navbar %>