<% include ../../partials/header_module_basic_math %>

                <h2><u>Arabic and Roman Numerals </u></h2>
                <p> Arabic numerals use the numbers 0,1,2,3,4,5,6,7,8 and 9. Roman numerals use symbols like I, V, X. 
                The table below various Roman numerals and their Arabic equivalent. It is the Arabic numerals that are commonly 
                used in prescriptions, however, Roman numerals are seen occasionally on prescriptions. 
                </p>
                <p>In the Arabic system numbers are grouped by position in powers of 10 that is the right most position represents 0 
                through 9. The next position represents 10 through 90. Then 100 through 900. 
                In the Roman system numbers are broken in 0-4, 5-9, 10-49, 50-99, 100-499, 500-999, 1000-4999 with the use of I,V, X, L, C, D and M</p>
                <div>
                    <table class="table table-bordered mod5_1 alignment">
                    <tbody >
                        <th>Roman</th>
                        <th>Arabic</th>
                        <tr>
                           <td>ss</td> 
                           <td>1/2</td> 
                        </tr>
                        <tr>
                           <td>I</td> 
                           <td>1</td> 
                        </tr>
                        <tr>
                           <td>V</td> 
                           <td>5</td> 
                        </tr>
                        <tr>
                           <td>X</td> 
                           <td>10</td> 
                        </tr>
                        <tr>
                           <td>L</td> 
                           <td>50</td> 
                        </tr>
                        <tr>
                           <td>C</td> 
                           <td>100</td> 
                        </tr>
                        <tr>
                           <td>D</td> 
                           <td>500</td> 
                        </tr>
                        <tr>
                           <td>M</td> 
                           <td>1000</td> 
                        </tr>
                        
                    </tbody>
                </table>
                </div>
                
                
                <p><i>Rules for Reading Roman Numerals:</i></p>
                <ul>
                    <li>When the second of two letters has a value equal to or smaller than that of the first, their values are to be added, for example, XI = 10+1 = 11.</li>
                    <li>When the second of two letters has a value greater than that of the first, the smaller is to be subtracted from the larger, for example, IV = 5-1 = 4.</li>
                    <li>Multiples of I,X,C and M up to 3 times are used to represent 1-3, 1-30, 100-3000 or 1000-3000. Repetition of more than three occurrences of the same letter is avoided, for example 8 is written as VIII and not IIIIIIII. </li>
                </ul>
                <br> 
            

                <div class="Container">
                    <table class="table table-bordered">
           
                    <tbody>
                        <tr>
                            <td><p><b>Solved Problem: </b>Write 1021 in Roman numerals</p>
                            <p><b>Approach: </b>Start with 1000 = M. 21 = XXI</p>
                            <p><b>Answer:</b> MXXI </p>
                            </td>
                        </tr>
                        
                        <tr>
                                <td>
                                    <p><b>Solved Problem: </b>Write LXII in Arabic numbers</p>
                                    <p><b>Approach: </b>Start with L = 50. XII = 12, 50 + 12 = 62</p>
                                    <p><b>Answer:</b> 62 </p>
                                </td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                
                
                

            </div>
            </div>

         
<% include ../../partials/footer %>