<% include ../../partials/header_module_basic_math %>

                <h2><u>Dimensional Analysis  </u></h2>
                <p> Calculations in pharmacy can be performed by dimensional analysis, this method involves placing the ratios of the data 
                and the equivalence between the units in a way that like units will cancel out and only the desired terms will be left. </p>
                
                
                <br>

                <div class="Container">
                    <table class="table table-bordered">
           
                    <tbody>
                        
                        <tr>
                            <td>
                                 <p><b>Solved Problem: </b>If the adult dose of a solution is 0.2 mL/kg of body weight to be administered once daily, 
                how many teaspoonful (tsp) should be administered to a person weighing 220 lb? (1 kg = 2.2 lb, 1 tsp = 5 mL)</p>
                <p><b>Approach: </b></p>             
                <div class="formulae"><p>$${0.2ml \over kg} \times {1kg \over 2.2lb} \times {220lb} \times {x \ tsp \over 5 \ ml}$$</p></div>
                <p><b>Answer:</b> 4 tsp. </p>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                               <p><b>Solved Problem: </b>A medication order calls for 500 mL of D5W/NS solution to be infused over 6 hours using an 
                administration set that delivers 15 drops per milliliter. How many drops per minute should be delivered to the patient?</p>
                <p><b>Approach: </b></p>
                <div class="formulae"><p>$${500ml \over 6 \ hours} \times {1hr \over 60 \ minutes}  \times {15drops \over  ml}$$</p></div>
                <p><b>Answer:</b> 21 drops </p> 
                            </td>
                        </tr>
                        </tbody>
                        </table>
                        </div>

            </div>
            </div>

         
<% include ../../partials/footer %>