<% include ../../partials/header_module_basic_math %>

                <h2><u>Proportional Calculations </u></h2>
                <p> <i>Ratio</i> expresses the relation of two or more things in a quantitative manner. An example would be,  ABC pharmacy 
                dispenses 500 prescriptions a day while XYZ pharmacy dispenses 50 prescriptions a day. Therefore, ABC pharmacy dispenses
                10 times more prescriptions than XYZ pharmacy. A ratio can be expressed as: </p>
                <p>a/b  (as a fraction)	</p>
                <p>a:b (with a colon)</p>
                <p>a to b (using a word)</p>
                
                <p><i>Proportion</i> is the expression of equating two ratios a proportion can be expressed as</p>
                <div class="formulae"><p>$${a:b} = {c:d}, or $$</p></div>
                <div class="formulae"><p>$${a:b} :: {c:d}, or $$</p></div>
                <div class="formulae"><p>$${a \over b} = {c \over d} $$</p></div>

                <p>Many pharmaceutical problems can be solved by using <i>Proportional Calculations.</i></p>
                <p>Proportional Calculations involve using a known ratio to determine to determine the strength or volume of a similar ratio when one of the values (strength or volume) 
                is unknown. It is important to label the units in each position (e.g. ml, mg)
                to ensure the proper relationship between the ratios of a proportion. Proportional calculations are set up like this:</p>
                <div class="formulae"><p>$${a \over b} = {c \over d} $$</p></div>
                
                <p>Assuming d is unknown, d can be calculated by</p>
                <div class="formulae"><p>$$d  = { {c \times d} \over a} $$</p></div>
                
                <br>

                
                    <table class="table table-bordered">
           
                    <tbody>
                        <tr>
                            <td>
                                
                
                <p><b>Solved Problem: </b>Digoxin is available in a concentration of 0.1 mg/ml. How many ml would provide a dose of 1.5 mg?</p>
                <p><b>Approach: </b></p>             
                <div class="formulae"><p>$${0.1(mg) \over 1.5(mg)} = {1(ml) \over x(ml)} $$ </p></div>
                <div class="formulae"><p>$${x(ml)} = { {1.5(mg) \times 1(ml)} \over 0.1(ml)} $$</p></div>
                <p><b>Answer: </b>  15 ml </p>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                
                

                <p><i>Inverse Proportions</i> equate two products. One example important to pharmaceutical calculations involves dilution of solutions. 
                The product of volume times concentration (= amount) stays the same and thus the new concentration after dilution can be calculated. </p>    
                <div ><p >$${Concentration_1 \times Volume_1} = Concentration_2 \times Volume_2 $$</p></div>
                
                 <br>

                
                    
                    <table class="table table-bordered">
           
                    <tbody>
                            <tr>
                                <td>
                                    <p><b>Solved Problem: </b>If 10 ml of 20% w/v solution is diluted to 95 ml, what is the concentration of diluted solution?</p>
                <p><b>Approach: </b>Using the above formula:</p>
                <div class="formulae"><p>$${Concentration_1 \times Volume_1} = Concentration_2 \times Volume_2 $$</p></div>
                <div class="formulae"><p>$${10 \ ml \times 20 \%  {w \over v}} = {Concentration_2 \times 95 \ ml} $$</p></div>
                <div class="formulae"><p>$${Concentration_2} = {10(ml) \times 20 \% ({w \over v})} \over {95(ml)} $$</p></div>
                <p><b>Answer:</b> 2.1% w/v </p>
                
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    
                    
                

            </div>
            </div>

         
<% include ../../partials/footer %>