<% include ../partials/header_module_exp_of_calc %>
<h2><u>Objectives</u></h2>
                <p>Upon completion of this section you should be able to:</p>
                <ol>
                    <li>Determine <i>Density</i> and <i>Specific Gravity</i> </li>
                    <li>Perform calculations based on <i>Percent strength</i> and <i>Ratio strength</i></li>
                    <li>Interconvert <i>Percent strength</i> and <i>ratio strength</i> </li>
                    <li>Apply <i>mg/ml</i> and <i>parts per million</i> in calculations </li>
                </ol>
                
                <div class="line"></div>

                <h4><u>References</u></h4>
                <div class="references">
                <p>Upon completion of this section you should be able to:</p>
                <ul>
                    <li>Pharmaceutical Calculations, 2017, 15th ed, by H.C. Ansel, Lippincott Williams & Wilkins  </li>
                    <li>Pharmaceutical Calculations, 2016, by Payal Aggarwal, Jones and Bartlett Learning</li>
                    <li>Pharmacy Math Part-1, Part-2; https://www.pharmpk.com/MyeBooks.html</li>
                </ul>
            </div>
            </div>
            </div>
            
            <% include ../partials/footer %>