<% include ../partials/header_module_calc_of_doses %>

                <h2><u>Objectives</u></h2>
                <p>Upon completion of this section you should be able to:</p>
                <ol>
                    <li>Calculate drug dose based on patient variables of <i>age, weight</i> and <i>body surface area</i></li>
                    <li>Understand the difference between <i>Ideal Body Weight</i> and <i>Actual Body Weight</i>and <i>Adjusted Body Weight </i></li>
                    <li>Use <i>nomograms</i> in calculations</li>
                    <li>Calculating drug dose based on <i>creatinine clearance</i> </li>
                    <li>Calculate drug dose for <span><i>chemotherapy regimen</i></span></li>
                    <li>Calculations involving units</li>
                    <li>Perform <i>General dose calculations</i></li>
                </ol>
                
                <div class="line"></div>

                <h4><u>References</u></h4>
                <div class="references">
                <p>Upon completion of this section you should be able to:</p>
                <ul>    
                    <li>Pharmaceutical Calculations, 2017, 15th ed, by H.C. Ansel, Lippincott Williams & Wilkins </li>
                    <li>Pharmaceutical Calculations, 2016, by Payal Aggarwal, Jones and Bartlett Learning</li>
                    <li>Pharmacy Math Part-1, Part-2; https://www.pharmpk.com/MyeBooks.html</li>
                </ul>
            </div>
            </div>
            </div>
         
<% include ../partials/footer %>