<% include ../../partials/header_module_exp_of_calc %>

                <h2><u>Density and Specific Gravity</u></h2>
                <p><i>Density</i> (d) is a measure of mass per unit volume of a substance, it can be calculated using the formula:
                </p>
                <div class="formulae"><p>$$Density = {Mass \over Volume} $$</p></div>
                <p>Thus, if 10 ml of water weighs 10 grams, density of water is:</p>
                <div class="formulae"><p>$$Density = {10 \ grams \over 10 \ ml} = 1 g/ml $$</p></div>
                <p><i>Specific gravity</i> is a dimensionless unit, defined as a ratio of density of a substance to the density of water.</p>
                <div class="formulae"><p>$$Specific \ gravity = {Density \ of \ substance \over Density \ of \ water} $$</p></div>
                <p>Density of water is one, if the weight of a particular volume of substance is known, its specific gravity can be calculated by dividing its weight by its volume.</p>
                <div class="formulae"><p>$$Specific \ gravity = {{Weight \ of \ substance(g) \over volume \ of \ substance(ml)} \over {1 g/ml(density \ of \ water)}}$$</p></div>
                <p>The above equation is similar to the equation for density, except that specific gravity has no units. If the specific gravity of a solution is known, interconversions between the volume of a substance and its weight are possible using the following equations: </p>
                <div class="formulae"><p>$$Weight \ of \ substance (g) = {Volume \ of \ substance (ml) \times Specific \ gravity} $$</p></div>
                <div class="formulae"><p>$$Volume \ of \ substance (ml) = {Weight \ of\  substance (g) \over Specific \ gravity} $$</p></div>
      <br>

            <div class="Container">
                
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>20 ml of a liquid weighs 35 g. What is the density of this liquid?</p>
                    <div class="formulae"><p>$$Density = {35 \ grams \over 20 \ ml} = 1.75g/ml $$</p></div>
                        <p><span><b>Answer: </b></span> 1.75 g/ml </p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>20 ml of a liquid weighs 35 g. What is the specific gravity of this liquid?</p>
                    <div class="formulae"><p>$$Specific \ gravity ={ {35 \ g \over 20 \ ml} \over 1g/ml(density \ of \ water) } $$</p></div>
                        <p><span><b>Answer: </b></span> 1.75</p>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p>Thus, in practice the main difference between specific gravity and density is the lack of units in specific gravity.</p>
    </div>

         
<% include ../../partials/footer %>