<% include ../../partials/header_module_exp_of_calc %>

                <h2><u>mg/ml</u></h2>
                
                <p>Occasionally in patient care settings, product concentrations such as percent strength, 
                ratio strength or grams per liter need to be rapidly converted to <i>milligrams per milliliter (mg/ml).</i> 
                These conversions can be made quickly using the following simple techniques:</p>
                <br>
                <p><i><u>Converting percentage strength to mg/ml:</u></i> A quick way to do this is to remember 1 % is equivalent to 1g/100 ml or 1000 mg/100ml or 10 mg/ml..</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                
                                <p>
                                    <span><b>Solved Problem: </b></span> Convert 4 % (w/v) to mg/ml. <br>
                                   4 X 10  <span style="float:right">= 40 mg/ml </span> <br><br>
                                    Alternate Method: 4% (w/v)  <span style="float:right">= 4 g/100 ml</span><br>
                                    <span style="float:right">= 4000mg/100ml</span><br>
                                    <b>Answer:</b><span style="float:right">=40 mg/ml</span>
                                </p>
                            </td>
                        </tr>
                 </tbody>
                </table>        
                        
                                <p><i><u> Converting ratio strength to mg/ml:</u></i> A quick way to do this is to remember 1:1000 is equivalent to 1g/1000 ml or 1000 mg/1000ml or 1 mg/ml.</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                   <span><b>Solved Problem: </b></span> Convert 1:4000 to mg/ml. <br>
                                    4000 / 1000 <span style="float:right">=1 mg/4ml or </span> <br>
                                    <span style="float:right">= 0.25 mg/ml</span> <br>
                                    Alternate Method: 1 : 4000 <span style="float:right">=1g/4000ml</span><br>
                                    <span style="float:right">= 1000mg/4000ml</span><br>
                                    <b>Answer:</b> <span style="float:right">= 0.25 mg/ml </span>
                                </p>
                            </td>
                        </tr>
                     </tbody>
                </table>    
                        
                         
                                <p><i><u> Converting product strength expressed as grams per liter (g/L) to mg/ml:</u></i> to do this, convert the numerator to milligrams and divide by the number of milliliters in the denominator.</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <b>Solved Problem: </b> Convert 1 g per 250 ml to mg/ml. <br>
                                    1000 / 250 <span style="float:right">= 4 mg/ml  </span> <br> <br>
                                    Alternate Method: 1g/250 ml <span style="float:right">= 1000 mg/250 ml</span><br><br>
                                    <b>Answer:</b><span style="float:right">= 4 mg/ml</span><br>
                                </p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
            </div>

         
<% include ../../partials/footer %>