<% include ../../partials/header_module_exp_of_calc %>

                <h2><u>Percent Strength</u></h2>
                <p>Pharmaceutical concentration of an active or an inactive ingredient in a liquid dosage form is often expressed as <i>percent strength</i>. 
                A number followed by a percentage sign implies a specific weight 
                per volume, volume per volume or weight per weight concentration of an ingredient per 100 units of the formulation. 
                The following expressions are most commonly used to expresses percent strength of active or inactive ingredients in a preparation. 
                </p>
                
                <br>
                
                <table class="table table-bordered">
                    <thead>
                        <th>
                            Expression
                        </th>
                        <th>
                            Abbreviated Expression
                        </th>
                        <th>
                            Meaning and example
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Percent weight in volume</td>
                            <td> % w/v </td>
                            <td>Grams of constituent in 100 ml of preparation
                                (e.g. 1 % w/v = 1 g constituent in 100 ml of preparation) 
                            </td>
                        </tr>
                        <tr>
                            <td>Percent volume in volume</td>
                            <td> % v/v </td>
                            <td>Milliliters of constituent in 100 ml of preparation
                            (e.g. 1 % v/v = 1 ml constituent in 100 ml of preparation) 
                            </td>
                        </tr>
                        <tr>
                            <td>Percent weight in weight</td>
                            <td>% w/w</td>
                            <td>Grams of constituent in 100 grams of preparation
(e.g. 1 % w/w = 1 g constituent in 100 g of preparation) 
</td>
                        </tr>
                    </tbody>
                </table>
                


                <br>
                
                <div class="Container">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>How many milligrams of hydrocortisone are there in a 1 % hydrocortisone ointment that weighs 28 grams?</p>
                        <p><span><b>Approach: </b></span>Percent concentration represents the number of grams per 100 grams. Thus, a ratio can be set up to calculate the required quantity.</p>
                <div class="formulae"><p>$${1 \ gram \over 100 \ gram} = {x \ gram \over 28 \ gram}$$</p></div>
                        <p>Solve for x, 28 X 1/100 </p>
                        <p><span><b>Answer: </b></span>0.28g or 280 mg</p>
                        
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        
                        <p>If the specific gravity of a solution is known, interconversions between % w/w and % w/v are possible using the following equations:</p>
                <div class="formulae"><p>$${\%{w \over v} of \  the \ solution} = {\% {w \over w} of \ the \ solution} \times Specific\ gravity$$</p></div>
                <div class="formulae"><p>$${\%{w \over w} of \ the \ solution} = { {\% {w \over v} of \ the \ solution} \over Specific\ gravity}$$ </p> </div>
                    
                <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>The specific gravity of 85 % w/v Syrup, USP-NF is 1.3. Calculate the syrup concentration in % w/w.</p>
                        <p><span><b>Approach: </b></span>Using the above equation:</p>
                    <div class="formulae"><p>$$\%{w \over w} = {85 \over 1.3}$$</p></div>
                        <p><span><b>Answer: </b></span>65 % w/w </p>
                    </td>
                </tr>
            </tbody>
        </table>
        
         
    </div>

            </div>
            </div>
            
            

         
<% include ../../partials/footer %>