<% include ../../partials/header_module_exp_of_calc %>
     <h2><u>Parts per million (ppm)</u></h2>
     <p>
         Occasionally a number is followed by the term ppm. This abbreviation stands for parts per million and is mostly used to indicate trace amounts of substances in water. For example, the standard dilution for fluoride added to municipal water source is 1 ppm. This indicates that there is 1 g of fluoride in every 1,000,000 ml of water.
     </p>
         
     <br>
     
      <table class="table table-bordered"> 
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>Express 20 ppm in percent strength.</p>
                    <p><span><b>Approach: </b></span>Conversion can be made with a direct ratio.</p>
				   <div class="formulae"><p> $$ 20 \ ppm = {20g \over 1000000  \ ml  } = {xg \over 100 \ ml} = {x \%} $$</p></div>
                    <p><span><b>Answer: </b></span>0.002%</p>
                </td>
            </tr>
            
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>Express 20 ppm in ratio strength.</p>
                    <p><span><b>Approach: </b></span>Conversion can be made with a direct ratio.</p>
				   <div class="formulae"><p> $$ 20 \ ppm = {20g \over 1000000  \ ml  } = {1 \over x} $$</p></div>
                    <p><span><b>Answer: </b></span>1 : 50000</p>
                </td>
            </tr>
        
        </tbody>
      </table>
                        
<% include ../../partials/footer %>