<% include ../../partials/header_module_exp_of_calc %>

    <h2><u>Ratio Strength</u></h2>                    
                        
    <p><span><i>Ratio Strength </i></span>is another expression used for describing the concentration of a solution or a mixture. In expressing ratio strength it is customary to have the first figure as 1, followed by a colon and then another number, e.g, 1:100. The following definitions are helpful when working with a ratio strength preparations:</p>
    <p>Solids in liquids: 1 g of constituent in X ml of solution or liquid preparation. <br>
    Liquids in liquids: 1 ml of constituent in X ml of solution or liquid preparation.<br>
    Solids in solids: 1 gram of constituent in X g of mixture.</p>

     <br>
     
<div class="Container">
        <table class="table table-bordered">
            <tbody>
                
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>Express 5% w/w as a ratio strength.</p>
                        <p><span><b>Approach: </b></span>convert the percentage strength to a ratio and simplify.</p>
                    <div class="formulae"><p>$$ {5 \% \over 100 \%} = {1 \ part \over x \ parts}$$</p></div>
                        <p><span><b>Answer: </b></span>1 : 20</p>
                    </td>
                </tr>
                
                
                
                <tr>
                    <td>
                        <p><span><b>Solved Problem: </b></span>Express 1:200 as a percentage strength.</p>
                        <p><span><b>Approach: </b></span>Set up a ratio from the ratio strength to a percentage.</p>
                    <div class="formulae"><p>$$ {1 \ part \over 200 \ parts} = {x \%  \over 100 \%}$$</p></div>
                        <p><span><b>Answer: </b></span> 0.5% </p>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <% include ../../partials/footer %>