<% include ../partials/header_module_measure_sys %>

                <h2><u>Objectives</u></h2>
                <p>Upon completion of this section you should be able to:</p>
                <ol>
                    <li>Perform calculations based on four kinds of <i>measurement system</i>.</li>
                    <li>Perform calculations involving interconversions between four kinds of measurement system. </li>
                </ol>
               <div class="line"></div>
                <h4><u>References</u></h4>
                <div class = "references">
                <p>Upon completion of this section you should be able to:</p>
                <ul>
                    <li>Pharmaceutical Calculations, 2017, 15th ed, by H.C. Ansel, Lippincott Williams & Wilkins  </li>
                    <li>Pharmaceutical Calculations, 2016, by Payal Aggarwal, Jones and Bartlett Learning</li>
                    <li>Pharmacy Math Part-1, Part-2; https://www.pharmpk.com/MyeBooks.html</li>
                </ul>
                </div>

            </div>
            </div>

         
<% include ../partials/footer %>