<% include ../../partials/header_module_reducing_enlarging %>

                <h2><u>Using the Factor Method</u></h2>
                
                <p><b><u>Step 1 </u>Determine factor</b>by which to reduce or enlarge the formula.</p>
                
              <div class="formulae"><p> $$Factor = {quantity \ of \ formula \ desired \over quantity \ of \ formula \ given }  $$</p></div>
                <p>For example, if a formula is provided for 1000 ml solution, but you wish to make 100 ml solution. The factor in
                this case would be 0.1. A factor greater than one indicates the formula needs to be enlarged, a factor less than 1 
                indicates the formula needs to be reduced.</p>
                <p><b><u>Step 2 </u>Multiply </b> quantity of each ingredient by the <b>factor.</b></p>
                
            </div>
            </div>

         
<% include ../../partials/footer %>