<% include ../../partials/header_module_reducing_enlarging %>

                <h2><u>Reducing and Enlarging</u></h2>
                <p>There are instances in pharmacy practice when a pharmacist needs to be reduce or enlarge formulas of a pharmaceutical 
                preparation. Reducing a formula involves calculating the amount of each ingredient to be used to make a smaller amount than 
                the original formula. While enlarging a formula involves calculating the amount of each ingredient to make a larger amount than
                the original formula. While reducing or enlarging a formula it is essential to maintain the proportion of all ingredients.</p>
                
                <p>Pharmaceutical preparations can be reduced or enlarged using ratio and proportion, dimensional analysis, and the factor method. We will be using the factor method to achieve the reduction and enlargement.</p>
                
            </div>
            </div>

         
<% include ../../partials/footer %>