<% include ../../partials/header_module_reducing_enlarging %>

                <h2><u>Formulas Specifying Proportional parts</u></h2>
                
                <p>Sometimes the formula of a pharmaceutical product lists ingredients in parts rather than measures of weight or volume. Factor method can be used to reduce or enlarge formulas that express metric quantities in weight or volume.</p>
                

     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>

                <p><b>Solved Problem: </b>
             <p>From the following formula, calculate the quantity of each ingredient required to make 1000 g of powder.</p>
            <table style="border-spacing:9px; border-collapse: separate;">
                <tbody>
              <tr>
                  <th>Ingredient</th>
              </tr>  

              <tr>
                  <td>Calcium carbonate </td>
                  <td>5 parts</td>
              </tr>  

              <tr>
                  <td>Magnesium oxide</td>
                  <td>1 part</td>
              </tr>  

              <tr>
                  <td>Sodium bicarbonate</td>
                  <td>4 parts</td>
              </tr>  

              <tr>
                  <td>Bismuth subcarbonate</td>
                  <td>3 parts</td>
              </tr>  

              </tbody>
            </table>
            <br>
                <p><b>Approach: </b>Use the equation to determine the factor. Multiply each ingredient with the factor.</p>
                    <div class="formulae"><p> $$Factor = {1000  \ g (desired) \over 5+1+4+3(formula \ given) }   = {1000\ g \over 13\ parts}=76.923\ grams/part $$</p></div>
        <p>Using the factor 2.5, quantity of each ingredient can be determine.</p>
            <table style="border-spacing:9px; border-collapse: separate;">
                <tbody>
              <tr>
                  <th>Ingredient</th>
              </tr>  

              <tr>
                  <td>Calcium carbonate </td>
                  <td>5 parts X 76.923 = 384.62 g</td>
              </tr>  

              <tr>
                  <td>Magnesium oxide</td>
                  <td>1 part X 76.923 = 76.923 g</td>
              </tr>  

              <tr>
                  <td>Sodium bicarbonate</td>
                  <td>4 parts X 76.923 = 307.69 g</td>
              </tr>  

              <tr>
                  <td>Bismuth subcarbonate</td>
                  <td>3 parts X 76.923 = 230.77 g</td>
              </tr>  

              </tbody>
            </table>

        <p><b>Answer: </b>Calcium carbonate 384.62 g; Magnesium oxide 76.923 g, Sodium bicarbonate 307.69 g, Bismuth subcarbonate 230.77 g.</p>
                      </tr>
                </td>
                 
            


        </tbody>
    </table>


            </div>
            </div>

         
<% include ../../partials/footer %>