<% include ../../partials/header_module_reducing_enlarging %>

                <h2><u>Formulas Specifying Weight or Volume</u></h2>
                
                <p>Factor method can be used to reduce or enlarge formulas that express metric quantities in weight or volume.</p>
                

     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>

                <p><b>Solved Problem: </b>
              The following formula is for Nitrofurazone 0.02 % Nasal Solution/Spray. Calculate the quantity of each ingredient to prepare 250 ml of product.</p>
            <table style="border-spacing:9px; border-collapse: separate;">
                <tbody>
              <tr>
                  <th>Ingredient</th>
              </tr>  

              <tr>
                  <td>Nitrofurazone </td>
                  <td>20 mg</td>
              </tr>  

              <tr>
                  <td>Phenylephrine HCl</td>
                  <td>250 mg</td>
              </tr>  

              <tr>
                  <td >Polyethylene glycol 300</td>
                  <td >10 ml</td>
              </tr>  

              <tr>
                  <td>Sodium chloride</td>
                  <td>800 mg</td>
              </tr>  

              <tr>
                  <td>Bacteriostatic water  qs</td>
                  <td>100 ml</td>
              </tr>  
              </tbody>
            </table>
            <br>
                <p><b>Approach: </b>Use the equation to determine the factor. Multiply each ingredient with the factor.</p>
                    <div class="formulae"><p> $$Factor = {250 \ ml (desired) \over 100 \ ml (formula \ given) }   = 2.5 $$</p></div>
        <p>Using the factor 2.5, quantity of each ingredient can be determine.</p>
             <table style="border-spacing:9px; border-collapse: separate;">
                <tbody>
              <tr>
                  <td>Nitrofurazone </td>
                  <td>20 mg X 2.5 = 50 mg</td>
              </tr>  

              <tr>
                  <td>Phenylephrine HCl</td>
                  <td>250 mg X 2.5 = 625 mg</td>
              </tr>  

              <tr>
                  <td>Polyethylene glycol 300</td>
                  <td>10 ml X 2.5 = 25 ml</td>
              </tr>  

              <tr>
                  <td>Sodium chloride</td>
                  <td>800 mg X 2.5 = 2000 mg</td>
              </tr>  

              <tr>
                  <td>Bacteriostatic water  qs</td>
                  <td>100 ml X 2.5 = 250 ml</td>
              </tr>  
              </tbody>
            </table>

        <p><b>Answer: </b>Nitrofurazone 50 mg; Phenyephrine HCl 625 mg; Polyethylene glycol 300 25 ml; Sodium chloride 2000 mg; bacteriostatic water qs 250 ml.</p>
                      </tr>
                </td>
                 
            


        </tbody>
    </table>


            </div>
            </div>

         
<% include ../../partials/footer %>