<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Indication</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                       <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                            <td>BP</td>
                            <td>Blood Pressure</td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>Congestive Heart Failure</td>
                        </tr>
                        <tr>
                            <td>COPD</td>
                            <td>Chronic obstructive pulmonary disease, including emphysema and bronchitis</td>
                        </tr>
                        <tr>
                            <td>CP</td>
                            <td>Chest Pain</td>
                        </tr>
                        <tr>
                            <td>HTN, HBP</td>
                            <td>Hypertension, high blood pressure</td>
                        </tr>
                        <tr>
                            <td>HR</td>
                            <td>Heart Rate</td>
                        </tr>
                        <tr>
                            <td>MI</td>
                            <td>Myocardial infarction: a heart attack</td>
                        </tr>
                        <tr>
                            <td>N/V</td>
                            <td>Nausea or vomiting or both</td>
                        </tr>
                        <tr>
                            <td>temp</td>
                            <td>Temperature</td>
                        </tr>
                        <tr>
                            <td>RR</td>
                            <td>Respiratory rate</td>
                        </tr>
                        <tr>
                            <td>SOB</td>
                            <td>Shortness of breath</td>
                        </tr>
                        <tr>
                            <td>sz</td>
                            <td>Seizures</td>
                        </tr>
                        <tr>
                            <td>UTI</td>
                            <td>Urinary tract infection</td>
                        </tr>
                        
                        
                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>    