<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Dose Directions</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>ӡ</td> 
                           <td>Teaspoon or teaspoons</td> 
                        </tr>
                        <tr>
                           <td>aa or āā</td> 
                           <td>Of each</td> 
                        </tr>
                        <tr>
                           <td>cc</td> 
                           <td>Cubic centimeter, but 1 cc = 1 mL (mL is preferred over cc)</td> 
                        </tr>
                        <tr>
                           <td>gtt</td> 
                           <td>Drop (Latin for guttae, meaning drops)</td> 
                        </tr>
                        <tr>
                           <td>i</td> 
                           <td>1</td> 
                        </tr>
                        <tr>
                           <td>ii</td> 
                           <td>2</td> 
                        </tr>
                        <tr>
                           <td>ss or s ̅s ̅ </td> 
                           <td>One-half (writing out “one-half” or ½ is preferable)</td> 
                        </tr>
                        <tr>
                           <td>t or tsp</td> 
                           <td>Teaspoon or tablet (This abbreviation is confusing and dangerous and therefore should not be used.)</td> 
                        </tr>
                        <tr>
                           <td>tbsp or T</td> 
                           <td>Tablespoon</td> 
                        </tr>
                        <tr>
                           <td>TKO or KVO</td> 
                           <td> “To keep open,” “keep vein open”</td> 
                        </tr>


                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>