<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviation for Drug Form</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>cap or caps</td> 
                           <td>Capsules</td> 
                        </tr>
                        <tr>
                           <td>Crm</td> 
                           <td>Cream</td> 
                        </tr>
                        <tr>
                           <td>Elix</td> 
                           <td>Elixir</td> 
                        </tr>
                        <tr>
                           <td>Gtts</td> 
                           <td>Drops</td> 
                        </tr>
                        <tr>
                           <td>MDI</td> 
                           <td>Metered-dose inhaler</td> 
                        </tr>
                        <tr>
                           <td>NPO</td> 
                           <td>Nothing by mouth; not a drug form but means the patient is not to receive any medications administered orally</td> 
                        </tr>
                        <tr>
                           <td>PO or po</td> 
                           <td>By mouth, orally, or swallowed</td> 
                        </tr>
                        <tr>
                           <td>PR</td> 
                           <td>Suppository (when written after the drug name)</td> 
                        </tr>
                        <tr>
                           <td>SL</td> 
                           <td>Sublingual form</td> 
                        </tr>
                        <tr>
                           <td>sol or soln</td> 
                           <td>Solution</td> 
                        </tr>
                        <tr>
                           <td>supp</td> 
                           <td>Suppository</td> 
                        </tr>
                        <tr>
                           <td>susp</td> 
                           <td>Suspension</td> 
                        </tr>
                        <tr>
                           <td>SVN</td> 
                           <td>Small volume nebulizer</td> 
                        </tr>
                        <tr>
                           <td>Syr</td> 
                           <td>Syrup (syr is also used as an abbreviation for syringe)</td> 
                        </tr>
                        <tr>
                           <td>tab or tabs</td> 
                           <td>Tablets</td> 
                        </tr>
                        <tr>
                           <td>Ung</td> 
                           <td>ointment </td> 
                        </tr>

                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>