<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Drug Dispensing</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>Disp</td> 
                           <td>Dispense</td> 
                        </tr>
                        <tr>
                           <td>Ft</td> 
                           <td>Make</td> 
                        </tr>
                        <tr>
                           <td>M</td> 
                           <td>Mix</td> 
                        </tr>
                        <tr>
                           <td>ml</td> 
                           <td>Milliliter</td> 
                        </tr>
                        <tr>
                           <td>qs</td> 
                           <td><i>Quantum sufficit</i>, meaning, adding a sufficient quantity to make…</td> 
                        </tr>
                        <tr>
                           <td>℥ii</td> 
                           <td>2 ounces</td> 
                        </tr>
                        <tr>
                           <td>℥iii</td> 
                           <td>3 ounces</td> 
                        </tr>
                        <tr>
                           <td>℥iv</td> 
                           <td>4 ounces</td> 
                        </tr>
                        <tr>
                           <td>℥vi	</td> 
                           <td>6 ounces</td> 
                        </tr>
                        <tr>
                           <td>℥viii</td> 
                           <td>8 ounces</td> 
                        </tr>
                        <tr>
                           <td>I or i</td> 
                           <td>1</td> 
                        </tr>
                        <tr>
                           <td>IV or iv</td> 
                           <td>4</td> 
                        </tr>
                        <tr>
                           <td>V or v</td> 
                           <td>5</td> 
                        </tr>
                        <tr>
                           <td>X or x</td> 
                           <td>10</td> 
                        </tr>
                        <tr>
                           <td>C or c</td> 
                           <td>100</td> 
                        </tr>


                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>