<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Frequency Directions</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>alt</td> 
                           <td>Alternating</td> 
                        </tr>
                        <tr>
                           <td>bid</td> 
                           <td>Twice a day or twice daily</td> 
                        </tr>
                        <tr>
                           <td>biw</td> 
                           <td>Twice weekly</td> 
                        </tr>
                        <tr>
                           <td>cid</td> 
                           <td>Five times a day</td> 
                        </tr>
                        <tr>
                           <td>hs</td> 
                           <td>Bedtime</td> 
                        </tr>
                        <tr>
                           <td>q</td> 
                           <td>Every</td> 
                        </tr>
                        <tr>
                           <td>q12h</td> 
                           <td>Every 12 hours</td> 
                        </tr>
                        <tr>
                           <td>q24h</td> 
                           <td>Every 24 hours</td> 
                        </tr>
                        <tr>
                           <td>q4-6h</td> 
                           <td>Every 4-6 hours</td> 
                        </tr>
                        <tr>
                           <td>q4h</td> 
                           <td>Every 4 hours</td> 
                        </tr>
                        <tr>
                           <td>q6h</td> 
                           <td>Every 6 hours</td> 
                        </tr>
                        <tr>
                           <td>q8h</td> 
                           <td>Every 8 hours</td> 
                        </tr>
                        <tr>
                           <td>qam</td> 
                           <td>Every morning or daily in the morning</td> 
                        </tr>
                        <tr>
                           <td>qd</td> 
                           <td>Daily or once daily (“daily” or “once daily” is preferred to qd)</td> 
                        </tr>
                        <tr>
                           <td>qhs</td> 
                           <td>Bedtime or daily at bedtime (“night” or “daily at bedtime” is preferred to qhs)</td> 
                        </tr>
                        <tr>
                           <td>qid</td> 
                           <td>Four times a day</td> 
                        </tr>
                        <tr>
                           <td>q5min</td> 
                           <td>Every 5 minutes</td> 
                        </tr>
                        <tr>
                           <td>qOd</td> 
                           <td>Every other day (“every other day” is preferred to qOd)</td> 
                        </tr>
                        <tr>
                           <td>qpm</td> 
                           <td>Every evening or daily in the evening</td> 
                        </tr>
                        <tr>
                           <td>q week</td> 
                           <td>Once weekly</td> 
                        </tr>
                        <tr>
                           <td>tid</td> 
                           <td>Three times daily</td> 
                        </tr>
                        <tr>
                           <td>tiw</td> 
                           <td>Three times weekly (“three times weekly” is preferred to tiw)</td> 
                        </tr>


                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>