<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Frequency Modifiers</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>Δ</td> 
                           <td>Change</td> 
                        </tr>
                        <tr>
                           <td>ac</td> 
                           <td>Before meals</td> 
                        </tr>
                        <tr>
                           <td>ASAP</td> 
                           <td>As soon as possible</td> 
                        </tr>
                        <tr>
                           <td>ATC</td> 
                           <td>Around the clock</td> 
                        </tr>
                        <tr>
                           <td>BS, FBG</td> 
                           <td>Blood sugar, fasting blood glucose</td> 
                        </tr>
                        <tr>
                           <td>c or c ̅</td> 
                           <td>With</td> 
                        </tr>
                        <tr>
                           <td>max</td> 
                           <td>Maximum</td> 
                        </tr>
                        <tr>
                           <td>min</td> 
                           <td>Minutes or minimum (depends on context)</td> 
                        </tr>
                        <tr>
                           <td>MR</td> 
                           <td>May repeat</td> 
                        </tr>
                        <tr>
                           <td>NR</td> 
                           <td>No refills</td> 
                        </tr>
                        <tr>
                           <td>NTE</td> 
                           <td>Not to exceed</td> 
                        </tr>
                        <tr>
                           <td>OTC</td> 
                           <td>Over-the-counter</td> 
                        </tr>
                        <tr>
                           <td>pc</td> 
                           <td>After meals</td> 
                        </tr>
                        <tr>
                           <td>prn</td> 
                           <td>As needed, if needed, when needed; use “as need for” if an indication is present</td> 
                        </tr>
                        <tr>
                           <td>s or s ̅</td> 
                           <td>Without; lay individuals use the abbreviation w/o</td> 
                        </tr>
                        <tr>
                           <td>stat</td> 
                           <td>Immediately</td> 
                        </tr>
                        <tr>
                           <td>ut dict or ud</td> 
                           <td>as directed</td> 
                        </tr>
                        <tr>
                           <td>WA</td> 
                           <td>While awake</td> 
                        </tr>
                        <tr>
                           <td>x or X</td> 
                           <td>Times</td> 
                        </tr>
                        <tr>
                           <td>x1</td> 
                           <td>One time</td> 
                        </tr>
                        <tr>
                           <td>x2</td> 
                           <td>Two times</td> 
                        </tr>
                        <tr>
                           <td>x3</td> 
                           <td>Three times or up to three</td> 
                        </tr>


                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>