<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Medication Adherence</u></h2>
               <p>Medication adherence (formerly referred to as compliance) is defined as the extent to which patient acts in accordance with instructions for taking the prescribed medicine. This includes the dose, dosing frequency, and duration of treatment. Medication adherence can be measured by many different ways, one way to measure it is by monitoring the time of refilling the prescription.  </p>
               <p>The following equation is used for calculation the percent adherence. </p>
                <div class="formulae"><p>$$Percent \ Adherence = {Expected \ days \ supply \over Actual \ days \ supply} \times 100$$</p></div>
               <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p><b>Solved Problem: </b>
                                 What is the percentage adherence if a patient received a 90-day supply of medicine and returns in 110 days for a refill?</p>
                
                                <p><b>Approach: </b>Use the equation provided above to calculate the percentage adherence.</p>
                <div class="formulae"><p>$$Percent \ Adherence = {90 \ days \over 110 \ days } \times 100$$</p></div>
                
                                <p><b>Answer:</b>81.8%</p>
                
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>