<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Prescription and Medication Orders </u></h2>
                <p> A prescription is an instruction from a prescriber to a dispenser, it is the primary means by which prescriber communicates with pharmacist regarding the treatment regimen for the patients. A prescription is used in an outpatient or an ambulatory setting, while a medication order is used in a hospital setting. The information found on a typical prescription is shown in the figure below:</p>
                    <img src="/images/interpretation_of_prescription/img1.PNG" class="static">

                <p> Components of a typical prescription as labelled in the above figure are: (1) Prescriber’s information and signature ;(2) patient’s information; (3) date prescribed; (4) Superscription : Rx symbol, meaning take thou, you take or recipe; (5) Inscription : is medication prescribed; (6) Subscription : is the dispensing instructions to the pharmacist; (7) Signa: is the directions to the patient; (8) Special instructions</p>
                <p>Abbreviations are commonly used in writing a prescription. Next few sections list commonly used abbreviations for dose, route, frequency and frequency modifiers.</p>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>