<% include ../../partials/header_module_interpretation_of_pres %>

                <h2><u>Abbreviations for Route Directions</u></h2>
                <table class="table table-bordered mod5_1 mod7_1">
                    <tbody >
                        <tr>
                           <th>Abbreviation</td> 
                           <th>Meaning</td> 
                        </tr>
                        <tr>
                           <td>ad</td> 
                           <td>Right ear (“right ear” is preferred to ad)</td> 
                        </tr>
                        <tr>
                           <td>as</td> 
                           <td>Left ear (“left ear” is preferred to as)</td> 
                        </tr>
                        <tr>
                           <td>au</td> 
                           <td>Each ear (“each ear” is preferred to au)</td> 
                        </tr>
                        <tr>
                           <td>IM</td> 
                           <td>Intramuscular(ly)</td> 
                        </tr>
                        <tr>
                           <td>IV</td> 
                           <td>Intravenous(ly)</td> 
                        </tr>
                        <tr>
                           <td>IVP</td> 
                           <td>Intravenous push</td> 
                        </tr>
                        <tr>
                           <td>IVPB</td> 
                           <td>Intravenous piggyback</td> 
                        </tr>
                        <tr>
                           <td>od</td> 
                           <td>Right eye (“right eye” is preferred to od)</td> 
                        </tr>
                        <tr>
                           <td>os</td> 
                           <td>Left eye (“left eye” is preferred to os)</td> 
                        </tr>
                        <tr>
                           <td>ou</td> 
                           <td>Each eye (“each eye” is preferred to ou)</td> 
                        </tr>
                        <tr>
                           <td>po</td> 
                           <td>By mouth or orally</td> 
                        </tr>
                        <tr>
                           <td>PR</td> 
                           <td>Rectal(ly)</td> 
                        </tr>
                        <tr>
                           <td>PV</td> 
                           <td>Vaginal(ly)</td> 
                        </tr>
                        <tr>
                           <td>SC or SQ</td> 
                           <td>Subcutaneous(ly) (“subcutaneous” is preferred to SC or SQ)</td> 
                        </tr>
                        <tr>
                           <td>SL</td> 
                           <td>Subligual(ly) (“under the tongue” is a more patient-friendly translation)</td> 
                        </tr>
                        <tr>
                           <td>S/S</td> 
                           <td>Swish and spit</td> 
                        </tr>
                        <tr>
                           <td>top</td> 
                           <td>Topical(ly) “on the skin” is a more patient-friendly translation)</td> 
                        </tr>


                    </tbody>
                </table>

                <i>Source: Understanding Pharmacy Calculations 2012, 2nd ed, by T.A. O’ Sullivan, L.S. Albrecht, APhA</i>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>