<% include ../partials/header_module_dil_and_con %>

                <h2><u>Objectives</u></h2>
                <p>Upon completion of this section you should be able to:</p>
                <ol>
                    <li>Perform <i>Dilution</i> and <i>Concentration</i> calculations</li>
                    <li>Apply <i>Algebraic and Alligation method</i></li>
                    <li>Perform calculations for the preparation of <i>Stock Solution</i></li>
                </ol>
                
                <div class="line"></div>

                <h4><u>References</u></h4>
                <div class="references">
                <p>Upon completion of this section you should be able to:</p>
                <ul>
                    <li>Pharmaceutical Calculations, 2017, 15th ed, by H.C. Ansel, Lippincott Williams & Wilkins </li>
                    <li>Pharmaceutical Calculations, 2016, by Payal Aggarwal, Jones and Bartlett Learning</li>
                    <li>Pharmacy Math Part-1, Part-2; https://www.pharmpk.com/MyeBooks.html</li>
                </ul>
            </div>
            </div>
</div>
         
<% include ../partials/footer %>