<% include ../../partials/header_module_calc_of_doses %>

<h2><u>Mosteller equation</u></h2>


<p>In the previous section, the BSA was calculated based on nomogram (DuBois and DuBois formula). While this remains the most popular method to estimate BSA, 
an easier method to calculate BSA for adults is the Mosteller equation: </p>
     
     
     <div class="formulae"><p>$$ BSA \ m^2 = \sqrt{Ht \ (cm) \times Wt \ (kg) \over 3600} $$</p></div>
     
     <table class="table table-bordered">
               
                        <tbody>
      <tr>
                                <td>
     <p><span style="color: black"><strong>Solved Problem: </strong></span>A patient weighs 60 kg and is 155 cm tall, if the recommended dose of Doxorubicin is 60 mg/m<sup>2</sup>, what is the patient’s dose?</p>
     <p><span style="color: black"><strong>Approach: </strong></span>Estimate the BSA using the Mosteller equation.</p>
     <div class="formulae"> <p> $$ BSA \ m^2 = \sqrt{155 \times 60 \over 3600} = 1.6 \ m^2 $$</p></div>
     <div class="formulae"><p>$$ Patient's Dose = {60 \ mg/m^2 \times 1.6 \ m^2 } = 96 \ mg $$</p></div>
     <p><span style="color:black"><strong>Answer: </strong></span> 96 mg</p>
     
     </td>
     </tr>
     
      
     </tbody>
     </table>
<% include ../../partials/footer %>   