<% include ../../partials/header_module_calc_of_doses %>


    <h2><u>Drug Dosage on Chemotherapy</u></h2>
    <p>Chemotherapy is the treatment of disease by the use of chemical substances, especially the treatment of cancer by cytotoxic and other drugs. 
    Chemotherapeutic drugs are often administered orally, intravenously or by continuous intravenous infusion. 
    Often times, 2, 3 or4 drugs are combined as a part of combination therapy to target the cancerous cells in different ways.
    A pharmacist should be able to calculate individualized dosing regimen using BSA and dose of each medication prescribed.</p>
    <br>
                    <div class="Container">
                        <table class="table table-bordered">
               
                        <tbody>
                            <tr>
                                <td>
    
    <p><span><strong>Solved Problem: </strong></span></p>
    <p>Regimen: AB <br> Cycle: 28 days, repeat for 2-8 cycles <br>Drug A, 30 mg/m <sup>2</sup>, IV, day 1, 8, 15 and 22 <br>Drug B, 125 mg/ m <sup>2</sup>, IV, day 1 <br> 
 <br>Calculate the total dose per cycle for Drug A and Drug B for a patient measuring 5 feet 8 inches and weighing 160 lb.</p>
    <p><span><strong>Approach: </strong></span>Determine the BSA from nomogram, calculate the quantity of each drug.
<br>Based on the nomogram, BSA of the patient is 1.85 m <sup>2</sup>
</p>
<div class="formulae"><p>$$ Drug  \ A: { 30 { mg \over m^2 } \times 1.85 \ m^2 \times 4 \ days } = 222 \ mg $$</p></div>
<div class="formulae"><p>$$ Drug  \ B: {125 { mg \over m^2 } \times 1.85 \ m^2 \times 1 \ day } = 231.25 mg$$</p></div>
    <p><span><strong>Answer: </strong></span>222 mg, 231.25 mg</p>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    
    
<% include ../../partials/footer %>