<% include ../../partials/header_module_calc_of_doses %>

                <h2><u>Drug Dosing</u></h2>
                <p>Calculating the dose of a drug is a common calculation performed in pharmacy practice. 
                Not only do different drugs have different dosing range, the dose range can also be expressed in different ways. 
                For example, a dose range can be expressed as mg/kg/day or mg/kg/dose. When calculating a dose of a drug one has to consider patient variables such as 
                <i>age, weight and body surface area.</i>
                </p>
                
                <div class="line"></div>
<% include ../../partials/footer %>                