<% include ../../partials/header_module_calc_of_doses %>

                <h2><u>Drug Dosage Based on Units</u></h2>
                <p>Potencies of certain medications are based on their activity and are expressed in terms of units. Common drugs for which 
                units are used include penicillin, insulin, bacitracin, heparin, nystatin, polymyxin, and vitamins A, D, and E. Units of activity
                are determined against specific biologic standards and vary between products. Thus, there is no cross relationship between the units
                of potency of one drug and the units of potency of another drug. Table A below illustrates that metric equivalency to units varies, with 
                each drug using a “unit” system of measurement having its own conversion factor.
                </p>
                    <br>
                <u>Table A: Examples of Drug Potency Equivalents</u>
    <table class="table table-bordered">
    <thead>
        <th>Penicillin V Potassium, 1380-1610 units</th>
        <th>1 mg</th>
    </thead>
    <tbody>
        <tr>
            <td> Insulin Human, 27.5 units </td>
            <td> 1 mg</td>
        </tr>
        <tr>
            <td> Insulin Lispro, 27 units </td>
            <td> 1 mg</td>
        </tr>
         <tr>
            <td>Bacitracin Zinc, 65 units </td>
            <td> 1 mg</td>
        </tr>
         <tr>
            <td>Bacitracin Zinc, 65 units </td>
            <td> 1 mg</td>
        </tr>
         <tr>
            <td> Polymyxin B Sulfate, 6000 units </td>
            <td> 1 mg</td>
        </tr>
         <tr>
            <td> Vitamin D, 40000 units </td>
            <td> 1 mg</td>
        </tr>
    </tbody>
</table>
        <p>In addition to potencies of drugs being expressed in units, doses of these medications are also expressed in units.
        For example, commercially available preparations of insulin are standardized to contain either 100 or 500 units per milliliter
        of solution or suspension. These package strengths are designated as U-100 and U-500. Syringes are available that measure insulin 
        dosage directly in units as shown in Figure- A below.</p>
        <p  style="text-align:center"><u>Figure A: Insulin Syringes 30 U, 50 U and 100 U</u></p>
         <img src="/images/calculations_of_doses/img3.png" style = " max-width:65%" class="static" >
         <p>Calculation of dose or potency can be performed using ratio and proportion or dimensional analysis as shown below:</p>
               
               
              <div class="Container">
                        <table class="table table-bordered">
               
                        <tbody>
                            <tr>
                                <td>
    
    <p><span><strong>Solved Problem: </strong></span>You receive the following prescription at your pharmacy. How many days supply will the prescribed vial hold?</p>
    <ul>Humulin® insulin R</ul>
    <ul>U-100, 10 ml</ul>
    <ul>Sig: Inject SC 10 units qam and 15 units qpm</ul>
<p><span><strong>Approach: </strong></span>: This problem can be solved either by ratio and proportion or dimensional analysis. Set up a dimensional analysis so that your final answer is in days.
</p>
<p>The patient takes 25 units per day.</p>
    <div class="formulae"><p>$$ {day \over 25 \ units} \times {100 \ units \over ml} \times 10 \ ml  = 40 \ days $$</p></div>

<p><span><strong>Answer: </strong></span>40 days</p>
    <p>Another drug whose dose and potency is expressed in Units is an anticoagulant drug called Heparin. It is a large sulfated polysaccharide polymer obtained from animal sources. Heparin is given intravenously or subcutaneously for treatment of deep venous thrombosis (DVT), pulmonary embolism, and acute myocardial infarction. Heparin is available in various strengths ranging from 1 unit/ml to 20,000 units/ml. </p>
    </td>
    </tr>
   
   
   
    <tr>
         <td>
    
    <p><span><strong>Solved Problem: </strong></span>Calculate the dose of heparin that was administered to a patient if the nurse injected 0.25 ml of heparin solution from a vial with a label stating 5000 units of heparin per ml.</p>

<p><span><strong>Approach: </strong></span>: Set up a ratio and proportion
</p>
<p>The patient takes 25 units per day.</p>
    <div class="formulae"><p>$$ {5000 \ units \ of \ heparin \over 1 \ ml}   = {x \ units \ of \ heparin \over 0.25 \ ml} $$</p></div>

<p><span><strong>Answer: </strong></span>: 1250 units</p>
    
    </td>
    </tr>
   
    </tbody>
    </table>
          
          
               
                <div class="line"></div>
<% include ../../partials/footer %>                