<% include ../../partials/header_module_calc_of_doses %>

    <h2><u>General Dose Calculations - Calibrating a Dropper:</u></h2>
    <p>Some medications require the use of a dropper to deliver certain number of drops of medication. 
    A drop is not a measure of volume, depending on the viscosity of a liquid, drop on one drug may have a 
    different volume than drop of another drug. The volume which a drop represents can be determined by 
    calibrating the dispensing dropper. One way to calibrate a dropper is to count the drops of a liquid 
    as they fall into a graduated cylinder. The number of drops per unit volume (e.g. 10 drops/ml) is then established. 
    After a dropper has been calibrated, one can calculate the number of drops needed to provide required dose. </p>
    
    <br>

                    <div class="Container">
                        <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
    
    <p><span><strong>Solved Problem: </strong></span>35 drops of a medication fill a graduated cylinder to a 2 ml mark. How many drops per ml will the dropper deliver?</p>
    <div class="formuale"><p> $$ { 35 \ drops \over 2 \ ml } = { x \ drops \over ml } = 17.5 \ drops, \ round \ it \ to \ 18 \ drops$$</p></div>
    <p><span><strong>Answer: </strong></span>18 drops</p>
    
    </td>
    </tr>
    </tbody>
    </table>
    </div>

<% include ../../partials/footer %>