<% include ../../partials/header_module_calc_of_doses %>
    
    <h2><u>General Dose Calculations – Number, size of a dose, total quantity of a Drug </u></h2>
    <p>A pharmacist should be able to calculate the number of doses that can be made from a given quantity of drug, 
    size of a dose and the total quantity of medication to be dispensed. For determining these variables, 
    the following equation is useful:</p>
    <div class="formulae"><p>$$ No. of Doses = {total \ quantity \over size \ of \ dose}$$</p></div>
    
    <br>

                    <div class="Container">
                        <table class="table table-bordered">
               
                        <tbody>
                            <tr>
                                <td>
    
    <p><span><strong>Solved Problem: </strong></span>Dose of an antibiotic is 100 mg, how many doses are there in 10 g of antibiotic.</p>
    <div class="formulae"><p>$$ No. of Doses = {10000 \ mg \over 100 \ mg}$$</p></div>
    <p><span><strong>Answer: </strong></span>100 doses</p>
    
    </td>
    </tr>
    <tr>
                                <td>
    <p><span><strong>Solved Problem: </strong></span>If 100 ml of a cough syrup contains 20 doses, how many teaspoonfuls are there in each dose?</p>
    <div class="formulae"><p>$$ 20 = {100 \ ml \over size \ of \ dose}$$</p></div>
    
    <div class="formulae"> <p>$$ size \ of \ dose = 5 \ ml = 1 \ teaspoon $$</p></div>
    
    <p><span><strong>Answer: </strong></span>1 teaspoon</p>
    
    </td>
    </tr>
    
    <tr>
                                <td>
    <p><span><strong>Solved Problem: </strong></span>A pharmacist needs to prepare 70 doses each containing 40 mg of drug, how many grams of drug will he need?</p>
    <div class = "formulae"><p> $$ 70 = { total \ quantity \over 40 \ mg} = 2800 \ mg$$</p></div>
    
    <p><span><strong>Answer: </strong></span>2.8 g</p>
    
    </td>
    </tr>
    </tbody>
    </table>
    </div>
<% include ../../partials/footer %>