<% include ../../partials/header_module_calc_of_doses %>

 <h2><u>Nomogram method</u></h2>

    <p>The nomograms have three columns, height, weight and BSA, they are based on the DuBois and DuBois formula:</p>
     
     <div class="formuale"><p> $$ BSA \ (m^2) = { H^ { 0.725 } \times W^ { 0.425 } \times 0.007184 } $$</p> </div>
     
    <p>Nomograms for children and adults are shown below. The BSA of an individual can be estimated by drawing a straight line connecting the individual’s height and weight. The point at which the line intersects the BSA column indicates the BSA of the individual. </p>
    <table class = "table table-bordered">
        <tbody>
            <tr>
                <td>
                    <a href="/images/calculations_of_doses/img1.png" target="_blank"> <img src="/images/calculations_of_doses/img1.png" style = " max-width:65%" class="static" title="Click to enlarge" >
                    </a>
                    
                     
                </td>
                <td>
                    <a href= "/images/calculations_of_doses/img2.png" target="_blank" ><img src="/images/calculations_of_doses/img2.png" style= "max-width: 65%" class="static" title="Click to enlarge"></a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-bordered">
               
                        <tbody>
                            <tr>
                                <td>
     <p><span style="color: black"><strong>Solved Problem: </strong></span>The recommended adult dose of a drug is 70 mg/m<sup>2</sup>. Using the nomogram calculate the dose for a child weighing 25 kg and measuring 70 cm.</p>
     <p><span style="color: black"><strong>Approach: </strong></span>Estimate the BSA using the nomogram for children.</p>
     <div class="formulae"> <p> $$ BSA = 0.61 m^2 $$</p></div>
     <div class="formulae"><p>$$ 70 {mg/m^2} \times 0.61 m^2 = 43 \ mg $$</p></div>
     <p><span style="color: black"><strong>Answer: </strong></span>43 mg</p>
     </td>
     </tr>
     
     <tr>
         <td>
             <p><span style="color: black"><strong>Solved Problem: </strong></span>The recommended adult dose of a drug is 65 mg, what would be the dose for a child weighing 30 lb and measuring 25 inches, use the nomogram method to determine the BSA.</p>
             <p><span style="color: black"><strong>Approach: </strong></span>
             <div class="formulae"><p> $$ BSA = 0.44 m^2 $$</p></div></p>
             <div class="formulae"><p> $$ Patient's Dose = {0.44 \ m^2 \over 1.73 \ m^2 } { \times 65 \ mg }$$</p></div></p>
             <p><span style="color: black"><strong>Answer: </strong></span>16.5 mg</p>
         </td>
     </tr>
     </tbody>
     </table>
     
     
   
    
<% include ../../partials/footer %>