  <% include ../../partials/header_module_dil_and_con %>

                <h2><u>Algebraic Method</u></h2>
                <p>If two or more solutions of different strengths are mixed to obtain a new mixture with a new strength, how do we calculate the new strength? These calculations can be performed by using either the algebraic method or the alligation method.
<br> <br> For the Algebraic method, the dilution equation can be modified as:

                </p>
                <div class="formulae"><p>$$ V^1C^1 + V^2C^2 = V^n \times C^n $$</p></div>
                <ul>
                    <li>V<sup>1</sup> : volume of solution 1</li>
                    <li>C<sup>1</sup>: concentration of solution 1</li>
                    <li>V<sup>2</sup> : volume of solution 2</li>
                    <li>C<sup>2</sup>: concentration of solution 2</li>
                    <li>V<sup>n</sup>: final volume</li>
                    <li>C<sup>n</sup>: final concentration</li>
                </ul>
                
                <br>
                
                <div class="Container">
                
        <table class="table table-bordered">
            <tbody>
             <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span> In what proportions should 70 % dextrose and 10 % dextrose be mixed to make 1000 ml of 50 % dextrose?</p>
               <p><span><strong>Approach: </strong></span>Using the above equation, let 70 % dextrose be solution 1 and 10 % be solution 2. Substituting the known values in to the equation, we get the following: </p>
               <div class = "formulae"><p>$$ V^1(70) + (V^n - V^1)(10) = (1000) \times 50 $$</p></div>
               <div class = "formulae"><p>$$ V^1(70) + (1000 - V^1)(10) = (1000) \times 50 $$</p></div>
               <div class = "formulae"><p>$$ V^1(70) + 10000 - 10V^1 = 50000 $$</p></div>
               <div class = "formulae"><p> $$ 60V^1 = 40000 $$</p></div>
               <div class = "formuale"><p>$$ V^1 = { 40000 \over 60 } $$</p></div>
               <div class = "formulae"><p>$$ V^1 = {40000 \over 60} = 667 \ ml $$</p></div>
               <div class = "formulae"><p>$$ V^2 = {1000 - 667 \ ml} = 333 \ ml$$</p></div>
                             <p><span><strong>Answer: </strong></span>Mix 667 ml of 70 % dextrose solution with 333 ml of 10 % dextrose solution to obtain 1000 ml of 50 % dextrose solution</p>
              </td>
             </tr>
             
             <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span>What is the concentration of a mixture of 100 g of a 20 % ointment, 500 g of 10 % ointment and 50 g of a 5 % ointment?</p>
               <p><span><strong>Approach: </strong></span> use the equation: </p>
               <div class = "formulae"><p>$$ V^1C^1 + V^2C^2 + V^3C^3 = V^n \times C^n $$</p></div>
               <div class = "formulae"><p>$$ 100 \times 20 + 400 \times 10 + 50 \times 5 = (100 + 500 + 50) \times C^n $$</p></div>
               <div class = "formulae"><p>$$ 2000 + 5000 + 250 = (650) \times C^n $$</p></div>
               <div class = "formulae"><p>$$ C^n = { 7250 \over 650 }$$</p></div>
               <p><span><strong>Answer: </strong></span>11.2%</p>
               
            
            </tbody>           
        </table>

            </div>
            </div>

         
<% include ../../partials/footer %>