 <% include ../../partials/header_module_dil_and_con %>
 
  <h2><u>Alligation Method</u></h2>
 <p>Just like Algebraic method,<span><i> Alligation Alternate Method </i></span>can be used for calculating strength of a solution obtained by mixing 2 or more solutions of
 different strengths. It is a visual method for computing proportions</p>
               <img src="/images/dilution_and_concentration/img1.PNG" class="static">
               <p>Steps:</p>
               <ol>
                <li>Make a tic-tac-toe grid.</li>
                <li>Enter the percentage strength of the higher strength solution in the upper left box.</li>
                <li>Enter the percentage strength of the lower strength solution in the lower left box.</li>
                <li>Enter the desired percentage strength in the center box.</li>
                <li>X is the unknown amount of higher strength solution to be mixed to obtain the desired strength.</li>
                <li>Y is the unknown amount of lower strength solution to be mixed to obtain the desired strength.</li>
                <li>Subtract B from C to solve for X.</li>
                <li>Subtract C from A to solve for Y.</li>
                <li>You will need X parts of A and Y parts of B to make X + Y parts of C.</li>
                <li>To convert parts to an actual volume amount, calculate as follows:
                <div class = "formulae"><p>$$ Volume \ of \ Solution \ A = { x \ part \over x + y \ parts} \times desired \ volume \ of \ Solution \ C $$</p></div>
                <div class = "formulae"><p>$$ Volume \ of \ Solution \ B = { x \ part \over x + y \ parts} \times desired \ volume \ of \ Solution \ C $$</p></div>
                </li>
                <li>Check your answer by adding the volume of solution A and the volume of solution B. The total should be the desired volume of solution C.</li>
               </ol>
              
              <br> 
              <p>Let’s solve a problem using alligation method, which was solved earlier using the algebraic method.</p>
              <br>
       <div class="Container">
       
        <table class="table table-bordered">
            <tbody>
             
            <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span>: In what proportions should 70 % dextrose and 10 % dextrose be mixed to make 1000 ml of 50 % dextrose?</p>
               <p><span><strong>Approach: </strong></span>set up a tic-tac-toe grid which includes the higher, lower and desired strengths. </p>
               <img src="/images/dilution_and_concentration/img2.PNG" class="static">
               <div class = "formulae"><p>$$ Volume \ of \ Solution \ A = {x \ part \over x \ + \ y \ parts } \times desired \ volume \ of \ solution \ C $$</p></div>
               <div class = "formulae"><p>$$ Volume \ of \ Solution \ A = {40 \ parts \over 20 + 40 \ parts } \times 1000 \ ml$$</p></div>
               <div class = "formulae"><p>$$ Volume \ of \ Solution \ A = 667 \ ml$$</p></div>
               <div class = "formulae"><p>$$ Volume \ of \ Solution \ B = {y \ part \over x + y \ parts } \times desired \ volume \ of \ solution \ C$$</p></div>
               <div class = "formulae"><p>$$ Volume \ of \ Solution \ B = {20 \ parts \over 20 + 40 \ parts} \times 1000 \ ml $$</p></div>
               <div class = "formulae"><p>$$ Volume \ of \ solution \ B = 333  \ ml $$</p></div>
               <p><span><strong>Answer: </strong></span>Mix 667 ml of 70 % dextrose solution with 333 ml of 10 % dextrose solution to obtain 1000 ml of 50 % dextrose solution.</p>
              </td>
             </tr>
            </tbody>           
        </table>
      </div>
<% include ../../partials/footer %>