 <% include ../../partials/header_module_dil_and_con %>
 <h2>Concentration</u></h2>
 <p><i>Concentration</i> of a medication is achieved by adding more of the active ingredient to the prepared medication 
                    or by adding admixture with a calculated quantity of a like product with greater concentration <i>(alligation alternate)</i></p>
    <br>
    <div class="Container">
        <table class="table table-bordered">
           
            <tbody>

                <tr>
                    <td>
                    <p><span style="color: black"><strong>Solved Problem: </strong></span> If a teaspoonful of albuterol syrup contains 1 mg of the drugs, how many milligrams of the drug needs to be added 50 ml of the syrup to double the strength? Assume no increase in volume.</p>
                    <p><span style="color: black"><strong>Approach: </strong></span>Solve by traditional calculation, a teaspoon is equivalent to 5 ml.</p>
                    <p>50 ml of syrup has 10 mg of drug, to double the strength 10 mg needs to be added.</p>
                    <div class="formulae"><p> $$ { 1 \ mg \over 5 \ ml } \times 50 = 10 \ mg$$</p></div>
                    <p><span style="color: black"><strong>Answer: </strong></span>10 mg</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<% include ../../partials/footer %>