<% include ../../partials/header_module_dil_and_con %>

                <h2><u>Dilution and Concentration</u></h2>
                <p>There are instances in pharmacy practice when a medication needs to be diluted or concentrated. 
                For example, a prescriber may require a concentrated solution or a concentrated syock solution to be diluted for use in a patient. 
                <i>Dilution</i> is achieved by addition of a diluent to the medication. When diluting a medication, the amount of drug doesn’t change but the concentration changes. 
            <br><br>The simplest way to solve these problems is by using the equation:
                </p>
                <div class="formulae"><p>$$ V^o \times C^o = V^n \times C^n $$</p></div>
                <ul>
                    <li>V<sup>o</sup> : volume at the original concentration</li>
                    <li>C<sup>o</sup>: original concentration</li>
                    <li>V<sup>n</sup>: final volume</li>
                    <li>C<sup>n</sup>: final concentration</li>
                </ul>
                <br>    
                
                <div class="Container">
        <table class="table table-bordered">
           
            <tbody>
                <tr>
                    <td><p><span style="color: black"><strong>Solved Problem: </strong></span>
                        How many milliliters of 50% (w/v) dextrose would be needed to make 1000 ml of 35 % (w/v) dextrose?</p>
                    <p><span style="color: black"><strong>Approach: </strong></span>Use the equation stated above 
                    (inverse proportion calculation):</p>
                    <div class="formulae"><p>$$ 50 \times x = { 35 \times 1000, \ x} = \ 700 \ ml$$</p></div>
                    <p><span style="color: black"><strong>Answer: </strong></span>700 ml of 50 % dextrose would be mixed with 300 ml of sterile water of injection to make a 1000 ml of 35 % dextrose solution.</p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                    <p><span style="color: black"><strong>Solved Problem: </strong></span>If an injection containing a medication, 50 mg/10 ml is diluted to 1 L, 
                    calculate the percent strength of resulting solution.</p>
                    <p><span style="color: black"><strong>Approach: </strong></span>Solve by traditional calculation</p>
                    <div class="formulae"><p> $$ 50 \ mg = { 0.05 \ g } $$</p></div>
                    <div class="formulae"><p> $$ { 0.05 \ g \over 1000 \ ml } \times 100  ={ 0.005  \% } $$</p></div>
                    <p><span style="color: black"><strong>Answer: </strong></span>0.005 % w/v</p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                    <p><span style="color: black"><strong>Solved Problem: </strong></span>Calculate the ratio strength after a 500 ml solution of ratio strength 1:600 is diluted to 2L.</p>
                    <p><span style="color: black"><strong>Approach: </strong></span>Express the ratio strength as a fraction 
                    and use an inverse proportion calculation.</p>
                    <div class="formulae"><p> $${ 500 \ ml \times {1 \over 600}} = { 2000 \ ml \times x }; x \ = \ 0.00041667 \ = \ 1:2400$$</p></div>
                    <p><span style="color: black"><strong>Answer: </strong></span>1:2400</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

            </div>
            </div>

         
<% include ../../partials/footer %>