 <% include ../../partials/header_module_dil_and_con %>
 
  <h2><u>Alligation Method for Mixing Ointments</u></h2>
  <br>
  <p>The following example illustrates the use of Alligation method in obtaining desired strength of an oitnment using ointments of two different strengths.</p>
      <table class="table table-bordered">
        <tbody>
            <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span> In what proportion should 20 % benzocaine ointment be mixed with an ointment base to produce a 2.5 % benzocaine ointment?</p>
               <p><span><strong>Approach: </strong></span> Set up a tic-tac-toe grid which includes the higher, lower (in this case 0% as the ointment base has no drug content) and desired strengths.  </p>
               <img src="/images/dilution_and_concentration/img3.PNG" class="static">
                <p><span style="color: black"><strong>Answer: </strong></span>17.5 parts of ointment base should be mixed with 2.5 parts of 20 % benzocaine ointment to produce 2.5 % benzocaine ointment.</p>
              </td>
             
             </tr>
            
             </tbody>
             </table.
  
<% include ../../partials/footer %>  