 <% include ../../partials/header_module_dil_and_con %>
 
  <h2><u>Algebraic/Alligation method for specific gravity</u></h2>
  <p><span><i>Algebraic method </i></span>and <span><i>Alligation method </i></span>can also be used in solving problems involving specific gravities of liquids as demonstrated below</p>
  <br>
  <table class="table table-bordered">
        <tbody>
            <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span>What is the specific gravity of a mixture of 1000 ml of syrup with a specific gravity of 1.3; 400 ml of glycerin with a specific gravity of 1.250; and 1000 ml of an elixir with a specific gravity of 0.950?</p>
               <p><span><strong>Approach: </strong></span>using the algebraic method and replacing concentration (C) with the specific gravity</p>
               <div class= "formulae"><p> $$ V^1C^1 + V^2C^2 + V^3C^3 = V^nC^n$$</p></div>
               <div class = "formulae"><p>$$ 1000 \times 1.3 + 400 \times 1.250 + 1000 \times 0.950 = {(1000 + 400 + 1000) \times C^n} $$</p></div>
               <div class = "formulae"><p>$$ 1300 + 500 + 950 = (2400) \times C^n $$</p></div>
               <div class = "formulae"><p>$$ Specific \ gravity = {2750 \over 2400 } $$</p></div>
               <p><span><strong>Answer: </strong></span>1.146</p>
              </td>
             </tr>
             
             <tr>
                 <td>
                     <p><span><strong>Solved Problem: </strong></span>In what proportion must glycerin with a specific gravity of 1.25 and water be mixed to prepare a liquid having a specific gravity of 1.1?</p>
                     <p><span><strong>Approach: </strong></span></p>
                     <img src="/images/dilution_and_concentration/img5.PNG" class="static">
                     <p> 0.1 : 0.15 or 2:3</p>
                     <p><span><strong>Answer: </strong></span>2 : 3</p>
                 </td>
             </tr>
            
        </tbody>
    </table>
  
  <% include ../../partials/footer %>  