<% include ../../partials/header_module_dil_and_con %>

<h2><u>Stock Solutions</u></h2>
                <p><i>Stock Solutions </i>are concentrated solutions of known concentration that are prepared and used by the pharmacist as a convenience to prepare solutions of lesser concentration. 
                Stock solutions can be of active or inactive ingredients. Stock solutions are usually prepared on a weight in volume basis, and their concentration is expressed as a ratio strength or as a percentage strength.   
                </p>
                
                <br>
                
               
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> How much (in milliliters) of a 1:400 stock solution is required to produce 100 ml of 1:2500 solution?</p>
                    <p><span><b>Approach: </b></span>First, convert the ratio strength to percent strength. </p>
                    <div class="formulae"><p> $$ 1:400 = {1 \over 400 } \times 100 = 0.25 \%$$</p></div>
                    <div class = "formulae"><p> $$ 1:2500 = {1 \over 2500 } \times 100 =0.04 \%$$</p></div>
                    <p>This is a dilution concentration problem. The simplest way to solve these problems is by using the equation:</p>
                    <div class="formulae"><p>$$ V^o \times C^o = V^n \times C^n$$</p></div>
                    <div class = "formulae"><p>$$ x \times 0.25 \% = {100 \ ml \times 0.04 \%} $$</p></div>
                    <div class = "formulae"><p>$$ x = { 100 \ ml \times 0.04 \% \over 0.25 \%}$$</p></div>
                    <p>Another way to work on this problem is:</p>
                    <div class="formulae"><p>$$ V^o \times C^o = V^n \times C^n$$</p></div>
                    <div class = "formulae"><p>$$ x \times {1 \over 400} = 100 \ ml \times {1 \over 2500}$$</p></div>
                    <p><span><b>Answer: </b></span>16 ml</p>
                    
                </td>
            </tr>
            
            <tr>
                <td>
                    <p>When the amount and the concentration of stock solution is given, it is possible to determine how much diluent should be added to reduce its strength to the desired strength. </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>:  How much water (in milliliters) should be added to 200 ml of 1:500 solution of benzalkonium chloride to make a solution of 1:2000?</p>
                    <p><span><b>Approach: </b></span></p>
                    <div class = "formulae"><p> $$ 1 : 500 = {1 \over 500 } \times 100 = 0.2 \%$$</p></div>
                    <div class = "formulae"><p> $$ 1 : 2000 = {1 \over 2000} \times 100 = 0.05 \% $$</p></div>
                    <div class = "formulae"><p> $$ 200 \ ml \times 0.2 \% = x \ ml \times 0.05 \% $$</p></div>
                    <div class = "formulae"><p> $$ x = {200 \ ml \times 0.2 \% \over 0.05 \%}$$</p></div>
                    <p>x = 800 ml is final volume of the diluted solution, subtract the stock solution volume from the final volume.</p>
                    <div class = "formulae"><p>$$ 800 - 200 = 600 \ ml $$</p></div>
                    <p><span><b>Answer: </b></span>600 ml</p>
                </td>
            </tr>
            
            <tr>
                <td>
                    <p>Another common scenario in pharmacy practice is in which the strength of the diluted solution is defined, but the strength of the concentrated stock solution used to prepare it must be determined. Pharmacist may need to prepare and dispense a concentrated solution of a drug and direct the patient to make a diluted solution of desired concentration. </p>
                </td>
            </tr>


            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>How much drug should be used in preparing 50 ml of a stock solution such that 5 ml diluted to 500 ml will yield a 1:1000 w/v solution?</p>
                    <p><span><b>Approach: </b></span>Calculate how much drug is present in 500 ml: </p>
                    <div class = "formulae"><p>$$ {1 \ g \over 1000 \ ml} = {x \ g \over 500 \ ml}; x = 0.5 \ g $$</p></div>
                    <p>500 ml diluted solution contains 0.5 g of drug this is equal to the amount of drug present in 5 ml of stock solution. Set up a direct proportion to find out the amount of drug required for making 50 ml of stock solution.</p>        
                    <div class = "formulae"><p>$$ {0.5 \ g \over 5 \ ml} = {x \ g \over 50 \ ml} $$</p></div>
                    <p><span><b>Answer: </b></span>5 g</p>
                </td>
            </tr>


        </tbody>
    </table>
                
   

<% include ../../partials/footer %>  