 <% include ../../partials/header_module_dil_and_con %>
 
  <h2><u>Alligation Method for Mixing 3 strengths</u></h2>
  <p>What if three different strengths are used to make a mixture of desired strength? In this case there are several possible combinations, including using two strengths and forgetting the third. However, for the solved problem below we will use all three different strengths. 
  Pairs are used in each determination, a pair would consist of one lower strength and one greater strength than the desired strength.</p>
  <br>
  <table class="table table-bordered">
        <tbody>
            <tr>
              <td>
               <p><span><strong>Solved Problem: </strong></span>A hospital pharmacist wants to use three lots of zinc oxide ointment containing, respectively, 50 %, 20 %, and 5 % of zinc oxide. In what proportion should they be mixed to prepare 10 % zinc oxide ointment?</p>
               <p><span><strong>Approach: </strong></span>set up a tic-tac-toe grid which includes the three strengths and desired strengths. Of the three strengths, pair one lower and one greater in strength compared to desired strength.</p>
               <img src="/images/dilution_and_concentration/img4.PNG" class="static">
               <p><span><strong>Answer: </strong></span>Removing common factor (5) gives the answer, 1 part of 50% and 20% and 10 parts of 5 %.</p>
              </td>
             </tr>
        </tbody>
    </table>
  
  <% include ../../partials/footer %>  