<% include ../../partials/header_module_measure_sys %>

                <h2><u>The Apothecaries System</u></h2>
                <p> The apothecaries system was used in the past by pharmacists. The system has been largely replaced by SI system, however, 
                pharmacists still occasionally encounter components of this system on prescription. The apothecaries system utilizes units for weight and volume and not for length. 
                The units used for weights are grains, ounces and pounds. A grain in the apothecaries system has the same weight as a grain in the avoirdupois system. However,
                the number of grains in an ounce and in a pound are different in the apothecaries and the avoirdupois system.
                A pound in an apothecaries system has 5760 grains (12 ounces) versus a pound in avoirdupois system has 7000 grains (16 ounces). Table D and E provides weights and volumes used in the apothecary system. </p>

                <table class="table table-bordered">
                    <thead>
                        <th>Table D: Apothecary system of measurement for weight</th>
                        <th>Table E: Apothecary system of measurement for volume</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table table-bordered mod5_1 alignment">
                                    <tbody >
                                        <th>Pound (lb)</th>
                                        <th>Ounce (oz,, ℥)</th>
                                        <th>Drachm (ʒ)</th>
                                        <th>Scruple (℈) </th>
                                        <th>Grain (gr)</th>
                                        <tr>
                                           <td>1</td> 
                                           <td>12</td> 
                                           <td>96</td> 
                                           <td>288</td> 
                                           <td>5760</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td>1</td> 
                                           <td>8</td> 
                                           <td>24</td> 
                                           <td>480</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td></td> 
                                           <td>1</td> 
                                           <td>3</td> 
                                           <td>60</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td></td> 
                                           <td></td> 
                                           <td>1</td> 
                                           <td>20</td> 
                                        </tr>
                
                                    </tbody>
                                </table>
                            </td>
                            
                            <td>
                                <table class="table table-bordered mod5_1 alignment">
                                    <tbody >
                                        <th>Gallon (gal)</th>
                                        <th>Quart (qt)</th>
                                        <th>Pint (pt)</th>
                                        <th>Fluid ounce (f℥) </th>
                                        <th>Fluid dram (fʒ)</th>
                                        <th>Minim (♏)</th>
                                        <tr>
                                           <td>1</td> 
                                           <td>4</td> 
                                           <td>8</td> 
                                           <td>128</td> 
                                           <td>1024</td> 
                                           <td>61440</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td>1</td> 
                                           <td>2</td> 
                                           <td>32</td> 
                                           <td>256</td> 
                                           <td>15360</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td></td> 
                                           <td>1</td> 
                                           <td>16</td> 
                                           <td>128</td> 
                                           <td>7680</td> 
                                        </tr>
                                        <tr>
                                           <td></td> 
                                           <td></td> 
                                           <td></td> 
                                           <td>1</td> 
                                           <td>8</td> 
                                           <td>480</td> 
                                        </tr>
                
                                        <tr>
                                           <td></td> 
                                           <td></td> 
                                           <td></td> 
                                           <td></td> 
                                           <td>1</td> 
                                           <td>60</td> 
                                        </tr>
                
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
              
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> A formula contains ℥ iii of ingredient A,℥  ii of ingredient B, ʒ v of ingredient C and gr viiiss of ingredient D. Calculate the total weight in grains?</p>
                    <p><span><b>Approach: </b></span>Convert the ounces to grain and add. </p>
                <table>
                    <tr>
                        <td width="350">
                            Ingredient A: 3 X 480 grains
                        </td>
                        <td>= 1440 grains</td>
                    </tr>
                    <tr>
                        <td>
                            Ingredient B: 2 X 480 grains
                        </td>
                        <td>= 960 grains</td>
                    </tr>
                    <tr>
                        <td>
                            Ingredient C: 5 X 60 grains
                        </td>
                        <td>= 300 grains</td>
                    </tr>
                    <tr>
                        <td>
                            Ingredient D: 8.5 grains 			
                        </td>
                        <td>= 8.5 grains</td>
                    </tr>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td>= 2708.5 grains</td>
                    </tr>
                </table>
                    <p><span><b>Answer: </b></span>29108.5 grains</p>
                    
                </td>
            </tr>
            

            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>:  A pharmacist had 1 gallon of syrup. At different times, he used fʒ v,  3 pt, f℥ vi, and f℥ iii. Calculate the volume of syrup left in fluid drams (fʒ). </p>
                    <p><span><b>Approach: </b></span>Convert all the denominations to fluid drams and add.</p>
                 <table>
                    <tr>
                        <td width="250">
                            1 gallon 
                        </td>
                        <td>= 1024 fʒ</td>
                    </tr>
                    <tr>
                        <td>
                            5 fʒ = 5 X 1
                        </td>
                        <td>= 5 fʒ </td>
                    </tr>
                    <tr>
                        <td>
                            3 pt = 3 X 128
                        </td>
                        <td>= 384 fʒ</td>
                    </tr>
                    <tr>
                        <td>
                            6 f℥ = 	6 X 8
                        </td>
                        <td>= 48 fʒ</td>
                    </tr>
                    <tr>
                        <td>
                           3 f℥ = 3 X 8		
                        </td>
                        <td>= 24 fʒ</td>
                    </tr>
                    <tr>
                        <td>
                           Total		
                        </td>
                        <td>= 563 fʒ </td>
                    </tr>
                </table>
                    <p><span><b>Answer: </b></span>563 fʒ</p>
                </td>
            </tr>
            



        </tbody>
    </table>
                </div>
   

            </div>
            

         
<% include ../../partials/footer %>