<% include ../../partials/header_module_measure_sys %>

                <h2><u>The Avoirdupois System</u></h2>
                <p> The Avoirdupois system is a system for weight measurement only, the units are grains, ounces and pounds. The system is
                widely used in the US for measuring body weight and by whole sales and chemical manufacturers for measuring weight of their
                product. Table C provides weights used in the Avoirdupois system.</p>
                <p><u>Table C: Avoirdupois system of measurement for weight</u></p>
                <table class="table table-bordered mod5_1 alignment">
                    <tbody >
                        <tr>
                           <td>1 ounce (oz)</td> 
                           <td>437.5 grains (gr)</td> 
                        </tr>
                        <tr>
                           <td>1 pound (lb)</td> 
                           <td>7000 grains (gr) 16 ounces</td> 
                        </tr>

                    </tbody>
                </table>


            </div>
            </div>

         
<% include ../../partials/footer %>