<% include ../../partials/header_module_measure_sys %>

                <h2><u>Calculations in the SI System</u></h2>
                <p>When quantities of different denomination need to be added, they should be converted to the same denomination. Since the SI system is based on the decimal system, conversion from one denomination to another is done by moving the decimal point. To convert from a smaller to a larger denomination decimal needs to be moved appropriate number of places to the left. 
                To convert from a larger to a smaller denomination decimal needs to be moved appropriate no of places to the right. </p>
               
                
                <br>
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> Add 5 kg, 43.3 g and 175 mg, express the answer in grams</p>
                    <p><span><b>Approach: </b></span>convert the weights to gram and add them </p>
				   <div class="formulae"><p> $$ 5000 g + 43.3 g + 0.175 g = 5043.575 g $$</p></div>
                    <p><span><b>Answer: </b></span>5044 g</p>
                    
                </td>
            </tr>
            

            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>:  Perform the following calculation:<br>0.005 L + 365 &mu;l + 40 dl + 0.2 cl = ____________ ml</p>
                    <p><span><b>Approach: </b></span>convert the volumes to milliliter and add them</p>
				   <div class="formulae"><p> $$ 5ml + 0.345ml + 4000ml + 2ml = 4007.345 \ ml $$</p></div>
                    <p><span><b>Answer: </b></span>4007 ml</p>     
                </td>
            </tr>
            


            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>How many milligrams of lactose are required to fill 150 capsules, if one capsule needs 50 &microg of lactose</p>
                    <p><span><b>Approach: </b></span>set up a proportion to first determine weight of lactose in &mu;g and then convert it to mg. </p>
				   <div class="formulae"><p> $$ {50 \ &mu; g \over 1 \ capsule} = {x \ &mu; g \over 150 \ capsules} $$</p></div>
                    <p><span><b>Answer: </b></span>7.5 mg</p>
                </td>
            </tr>


        </tbody>
    </table>
                </div>
   
            </div>

         
<% include ../../partials/footer %>