<% include ../../partials/header_module_measure_sys %>
            
                <h2><u>Common or Household System of Measurements</u></h2>
                
                   
                
                <p> Common or Household System of Measurements </p>

                <p><u>Table F: Household system of measurement for weight and volume</u></p>
                <table class="table table-bordered mod5_1 alignment" >
                    <tbody >
                        <th>Household Unit</th>
                        <th>Abbreviation</th>
                        <th>Equivalent</th>
                        
                        <tr>
                           <td colspan="3">VOLUME</td> 
                        </tr>
                        <tr>
                           <td>1 teaspoonful</td> 
                           <td>tsp</td> 
                           <td>5 ml</td> 
                        </tr>
                        <tr>
                           <td>1 tablespoonful</td> 
                           <td>tbsp.</td> 
                           <td>15 ml</td> 
                        </tr>
                        <tr>
                           <td>2 tablespoonfuls</td> 
                           <td>tbsp.</td> 
                           <td>1 fl oz</td> 
                        </tr>

                        <tr>
                           <td>1 fluid ounce</td> 
                           <td>fl oz</td> 
                           <td>29.57 ml</td> 
                        </tr>

                        <tr>
                           <td>1 cup</td> 
                           <td>	cup</td> 
                           <td>8 fl oz</td> 
                        </tr>

                        <tr>
                           <td>1 pint</td> 
                           <td>	pt</td> 
                           <td>16 fl oz</td> 
                        </tr>

                        <tr>
                           <td>2 pints</td> 
                           <td>	pt</td> 
                           <td>1 qt</td> 
                        </tr>

                        <tr>
                           <td>4 quarts</td> 
                           <td>qt</td> 
                           <td>1 gal</td> 
                        </tr>

                        <tr>
                           <td colspan="3">WEIGHT</td> 
                        </tr>

                        <tr>
                           <td>	1 pound	</td> 
                           <td>lb</td> 
                           <td>16 oz</td> 
                        </tr>
                    </tbody>
                </table>


                <br>
                
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> Calculate the number of teaspoonful doses in 1 cup of a cough syrup. </p>
                    <p><span><b>Approach: </b></span> Convert the cup into ml. Set up a proportion to calculate the number of teaspoonfuls</p>
				        <div class="formulae"><p> $$ 1cup = 8\ fl \ oz = 8 \times 29.57 \ ml = 236.56 \ ml $$</p></div>
				        <div class="formulae"><p> $$ {1dose \over 5ml} ={ x \ doses \over 236.56 \ ml} $$</p></div>
				        <div class="formulae"><p> $$ x = 47 \ doses$$</p></div>
                    <p><span><b>Answer: </b></span>47 teaspoonfuls</p>
                    
                </td>
            </tr>
            


        </tbody>
    </table>
    
                
   
            </div>
            </div>

         
<% include ../../partials/footer %>