<% include ../../partials/header_module_measure_sys %>

                <h2><u>Converting between Measurement Systems</u></h2>
                <p> Most prescriptions are written in SI, however, occasionally need may arise to convert a weight 
                or a measurement from one units of system to units of another system. Table G provides commonly used equivalents for different measurement system.</p>

                <p><u>Table G: Metric and commonly used equivalents for various systems of measurement</u></p>
                <table class="table table-bordered">
                   <thead>
                      <th>Length<br> Base unit is meter (m)</th>
                      <th>Weight<br> Base unit is gram (g)</th>
                      <th>Volume<br> Base unit is liter (l)</th>
                   </thead>
                   <tbody>
                      <tr>
                         <td>
                            <table class="table table-bordered mod5_1 alignment">
                               <tbody>
                                  <thead>
                                     <th></th>
                                     <th>Symbol</th>
                                     <th>Equivalent</th>
                                  </thead>
                                  <tbody>
                                     <tr>
                                       <td>1 meter</td> 
                                       <td>M</td> 
                                       <td>39.37 in</td> 
                                    </tr
                                    
                                    <tr>
                                    <td>1 inch</td> 
                                    <td>in</td> 
                                    <td>2.54 cm</td> 
                                 </tr>
                                  </tbody>
                               </tbody>
                            </table>
                         </td>
                         <td>
                            <table class="table table-bordered mod5_1 alignment">
                               <tbody>
                                  <thead>
                                     <th></th>
                                     <th>Symbol</th>
                                     <th>Equivalent</th>
                                  </thead>
                                  <tbody>
                                     <tr>
                                       <td>1 gram </td> 
                                       <td>G</td> 
                                       <td>15.432 grain (gr)</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 kilogram </td> 
                                       <td>Kg</td> 
                                       <td>2.2 pound (lb) (avoirdupois) </td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 grain</td> 
                                       <td>	Gr</td> 
                                       <td>64.8 milligram (mg); <br>65 mg is frequently used</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 ounce (avoir.)  </td> 
                                       <td>	oz, ℥</td> 
                                       <td>28.35 gram (g)</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 ounce (apoth.) = </td> 
                                       <td>oz, ℥</td> 
                                       <td>31.1 gram (g)</td> 
                                    </tr>
            
                                       <tr>
                                       <td>1 pound (avoir.) </td> 
                                       <td>lb</td> 
                                       <td>454 gram (g)</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 pound (apoth.)  </td> 
                                       <td>lb</td> 
                                       <td>373 gram (g)</td> 
                                    </tr>
                                  </tbody>
                               </tbody>
                            </table>
                         </td>
                         <td>
                            <table class="table table-bordered mod5_1 alignment">
                               <tbody>
                                  <thead>
                                     <th></th>
                                     <th>Symbol</th>
                                     <th>Equivalent</th>
                                  </thead>
                                  <tbody>
                                     <tr>
                                       <td>	1 milliliter	</td> 
                                       <td>♏</td> 
                                       <td>16.23 minim</td> 
                                    </tr>
            
                                    <tr>
                                       <td>	1 fluid ounce	</td> 
                                       <td>f℥</td> 
                                       <td>29.57 ml</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 gallon	</td> 
                                       <td>Gal</td> 
                                       <td>3785 ml</td> 
                                    </tr>
            
                                    <tr>
                                       <td>1 pint</td> 
                                       <td>Pt</td> 
                                       <td>473 ml</td> 
                                    </tr>
                                  </tbody>
                               </tbody>
                            </table>
                         </td>
                      </tr>
                      
                   </tbody>
                </table>
                
                
               

             <br>
                
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> If 3 ounces (apoth) of an ointment cost $6, calculate the cos of 40 g of ointment </p>
                    <p><span><b>Approach: </b></span>Convert the ounces into grams and then set up a proportion.</p>
				        <div class="formulae"><p> $$ {31.1\ g \over 1\ oz} ={ x\ g \over 3\ oz} $$</p></div>
				        <div class="formulae"><p> $$ {3\ Oz} ={ 93.3\ g} $$</p></div>
					<p>Set up a proportion to calculate the price of 40 g,</p>
				        <div class="formulae"><p> $$ {$6 \over 93.3\ g} ={ $x\  \over 40} $$</p></div>
                    <p><span><b>Answer: </b></span>$ 2.57</p>
                    
                </td>
            </tr>
            

            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span>Add together 1 gal, 1 qt, 1 pt, f℥ iii and express the total in ml.  </p>
                    <p><span><b>Approach: </b></span>Convert all the measurement units to ml and then add.</p>
                 
                    <p><span><b>Answer: </b></span>5292.7 ml</p>
                </td>
            </tr>
            



        </tbody>
    </table>
                </div>
   
            </div>
           

         
<% include ../../partials/footer %>