<% include ../../partials/header_module_measure_sys %>

                <h2><u>Kinds of Measurement System </u></h2>
                <p> Four kinds of measurement systems are used commonly in pharmacy:</p>
                <ol>
                    <li>International System of units (SI, formerly called the metric system)</li>
                    <li>Apothecaries system</li>
                    <li>Avoirdupois system</li>
                    <li>Household system</li>
                </ol>

                
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>