<% include ../../partials/header_module_measure_sys %>

                <h2><u>The SI System</u></h2>
                <p> The SI system or the metric system is the official system for weights and measurement. The SI system is a decimal
                system with all multiples, divisions based on a factor of 10. It is the most commonly used measurement system. Table A 
                provides the base units for the SI system.</p>
                <p><u>Table A: Base Units for SI</u></p>
                
                
                
                
                <table class="table table-bordered ">
                    <tbody >
                        <tr>
                           <td>Length</td> 
                           <td>Meter (m)</td> 
                        </tr>
                        <tr>
                           <td>Weight</td> 
                           <td>Gram (g)</td> 
                        </tr>
                        <tr>
                           <td>Volume</td> 
                           <td>Liter (L or l)</td> 
                        </tr>

                    </tbody>
                </table>

                <p>Table B provides the prefixes that represent multiples of fractions of the measurements in Table A.</p>
                <p><u>Table B: Prefixes for SI system</u></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                           <td rowspan="5">Length<br>Base unit is meter (m)</td> 
                           <td>1 kilometer (km)</td> 
                           <td>= 1000 meters</td>
                        </tr>
                        <tr>
                           <td>1 meter (m)	</td> 
                           <td>= 1 meter</td> 
                        </tr>
                        <tr>
                           <td>1 centimeter (cm)</td> 
                           <td>= 1 X 10<sup>-2</sup> meters</td> 
                        </tr>
                        <tr>
                           <td>1 millimeter (mm)</td> 
                           <td>= 1 X 10<sup>-3</sup> meters</td> 
                        </tr>
                        <tr>
                           <td>1 micrometer (&microm)</td> 
                           <td>= 1 X 10<sup>-6</sup> meters</td> 
                        </tr>

                        <tr>
                           <td rowspan="5">Weight<br>Base unit is gram (g)</td> 
                           <td>1 kilogram (kg)</td> 
                           <td>= 1000 grams</td>
                        </tr>
                        <tr>
                           <td>1 gram (g)</td> 
                           <td>= 1 gram</td> 
                        </tr>
                        <tr>
                           <td>1 milligram (mg)</td> 
                           <td>= 1 X 10<sup>-3</sup> grams</td> 
                        </tr>
                        <tr>
                           <td>1 microgram (&micromg or mcg)</td> 
                           <td>= 1 X 10<sup>-6</sup> grams</td> 
                        </tr>
                        <tr>
                           <td>1 nanogram (ng)</td> 
                           <td>= 1 X 10<sup>-9</sup> grams</td> 
                        </tr>

                        <tr>
                           <td rowspan="5">Volume<br>Base unit in liter (l)</td> 
                           <td>1 liter (l)</td> 
                           <td>= 1 liter</td>
                        </tr>
                        <tr>
                           <td>1 deciliter (dl)</td> 
                           <td>= 1 X 10<sup>-1</sup> liters</td> 
                        </tr>
                        <tr>
                           <td>1 centiliter (cl)</td> 
                           <td>= 1 X 10<sup>-2</sup> liters</td> 
                        </tr>
                        <tr>
                           <td>1 milliliter (ml)</td> 
                           <td>= 1 X 10<sup>-3</sup> liters</td> 
                        </tr>
                        <tr>
                           <td>1 microliter (&microl)</td> 
                           <td>= 1 X 10<sup>-6</sup> liters</td> 
                        </tr>

                    </tbody>
                </table>

            </div>
            </div>

         
<% include ../../partials/footer %>