<% include ../partials/header_module_reducing_enlarging %>

                <h2><u>Objectives</u></h2>
                <p>Upon completion of this section you should be able to:</p>
                <ol>
                    <li>Perform calculations to reduce and enlarge a given formula using quantities expressed in weight, and volume or quantities expressed in parts.</li>
        
                </ol>
                
                <div class="line"></div>

                <h4><u>References</u></h4>
                <div class = "references">
                <p>Upon completion of this section you should be able to:</p>
                <ul>
                    <li>Pharmaceutical Calculations, 2017, 15th ed, by H.C. Ansel, Lippincott Williams & Wilkins </li>
                    <li>Pharmacy Math Part-1, Part-2; https://www.pharmpk.com/MyeBooks.html</li>
                </ul>
                </div>
                
            </div>
            </div>

         
<% include ../partials/footer %>