<% include ../../partials/header_module_pharma %>

                <h2><u>Weighing by the Aliquot Method</u></h2>
                <p> Steps involved in the aliquot method are:</p>
                <p> Preliminary step: Determine the MWQ for the balance.</p>
                <p> Step-1: Weigh out a measureable multiple of desired quantity of the drug.</p>
                <p> Step-2: Dilute with an inert substance to obtain a mixture.</p>
                <p> Step-3: Weigh an aliquot of the mixture that will provide desired quantity of the substance.</p>
                
                <br>

                <div class="Container">
                    <table class="table table-bordered">
           
                    <tbody>
                    
                    <tr>
                        <td>
                    
                <p><b>Solved Problem: </b>
                How would a pharmacist weigh 40 mg of atropine sulfate on a prescription balance with a SR of 6 mg and a maximum acceptable percentage error of 5 %?</p>

                <p><b>Approach: </b>Preliminary step: Determine the MWQ for the balance.</p>
				<div class="formulae"><p> $$MWQ = {6 \over 5  }  \times 100 \%  = 120 \ mg $$</p></div>
                
                <p>Step-1: Weigh out a measureable multiple of desired quantity of the drug.</p>
                <p>The prescription requires 40 mg of drug. The minimum amount that can be weighed is 120 mg. 
                Choose a <b>multiple factor</b> of 3 and weight out 40 X 3 = 120 mg of drug.  </p>
                <p>Step-2: Dilute with an inert substance to obtain a mixture.</p>
                <p>120 mg is the smallest amount of drug that can be weight out.</p>
                <p>120 X 3 = 360 mg of mixture</p>
                <p>360 g mixture – 120 mg of atropine sulfate = 240 mg of diluent.</p>
                <p>Dilute 120 mg of atropine sulfate with 240 g of lactose to obtain a 360 g mixture.</p>
                <p>Step-3: Weigh an aliquot of the mixture that will provide desired quantity of the substance.</p>
                <p>Multiple factor used: 3</p>
                <p>360/3 = 120 mg</p>
                <p><b>Answer: </b>120 mg of aliquot contains 40 mg of atropine sulfate.</p>
                
                </td>
                </tr>
                
                <tr>
                    <td>
                
                <p><b>Solved Problem: </b>
                A pharmacist needs to weigh 5 mg of a drug for a prescription on a balance with a SR of 6 mg and a maximum acceptable percentage error of 5 %. What is the a) the minimum weighable quantity (if necessary round up to the nearest 5 mg), b) the quantity of drug to be weighed (use a multiple factor of 35), c) the quantity of diluent required and d) the quantity of the aliquot containing the desired amount of drug?</p>

                <p><b>Approach: </b>Preliminary step: Determine the MWQ for the balance.</p>
                <div class = "formulae"><p>$$ MWQ = {6 \over 5} \times 100 = 120 \ mg $$</p></div>

                <p>Step-1: Weigh out a measureable multiple (in this case 35) of desired quantity of the drug.</p>
                <p>The prescription requires 5 mg of drug. The minimum amount that can be weighed is 120 mg. Choose a <b>multiple factor</b> of 35 and weight out 5 X 35 = 175 mg of drug.  </p>
                <p>Step-2: Dilute with an inert substance to obtain a mixture.</p>
                <p>120 mg is the smallest amount of drug that can be weight out.</p>
                <p>120 X 35 = 4200 mg of mixture</p>
                <p>4200 g mixture – 175 mg of drug = 4025 mg of diluent.</p>
                <p>Dilute 175 mg of atropine drug with 4025 g of lactose to obtain a 4200 g mixture.</p>
                <p>Step-3: Weigh an aliquot of the mixture that will provide desired quantity of the substance.</p>
                <p>Multiple factor used: 35</p>
                <p>4200/35 = 120 mg</p>
                <p><b>Answer: </b>120 mg of aliquot contains 5 mg of drug</p>
                
                </td>
                </tr>
                </tbody>
                </table>
                </div>
                <div class="line"></div>

            </div>
            </div>

         
<% include ../../partials/footer %>