<% include ../../partials/header_module_pharma %>

                <h2><u>Minimum Weighable Quantity (MWQ)</u></h2>
                <p> MWQ determines the minimum weight of a substance that can be weighed on a balance with certain percentage error. 
                SR is related to MWQ as shown in the following equation.
                </p>
                <div class="formulae"><p>$$MWQ = {SR(mg) \over  \% \ error} \times 100 \%$$</p></div>
                <br>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p><b>Solved Problem: </b>
                                 What is the minimum weighable quantity that will result in an error of 5% or less on a Class A prescription balance?</p>
                
                                <p><b>Approach: </b>Using the above formula, divide the SR by percentage error. Multiply by 100 to calculate the MWQ.</p>
				                    <div class="formulae"><p> $$MWQ = {6mg \over 5 \% }  \times 100 \%  = 120 \ mg $$</p></div>
                
                                <p>When a prescription requires the incorporation of a substance weighing less than MWQ for a balance, 
                                what should be done? One method employed is the <b>Aliquot Method</b>, a larger than required quantity of the drug is weighed, 
                                it is then diluted with an inert substance such as lactose.
                                An aliquot (fraction) containing the desired amount of needed substance is then weighed.</p>
                
                            </td>
                        </tr>
                    </tbody>
                </table>

                

            </div>
            </div>

         
<% include ../../partials/footer %>