<% include ../../partials/header_module_pharma %>

                <h2><u>Calculating Percentage Error in Weighing</u></h2>
                <p> Different balances have different degrees of precision. A weight measured on a balance with less precision can 
                be weighed on a balance with higher precision and the percent error can be calculated</p>
			    <div class="formulae"><p> $$ Error = Quantity \ Desired - Quantiy \ Weighed $$</p></div>
			    <div class="formulae"><p> $$ \% Error = {Error \over Quantity \ Desired} \times 100 $$</p></div>
                

            </div>
            </div>

         
<% include ../../partials/footer %>