<% include ../../partials/header_module_pharma %>

                <h2><u>Percentage Error</u></h2>
                <p> A weighing balance like any other device has a propensity of error. If you take the same amount of drug, 
                say 50 mg and weigh it 50 times, you will not always end up with the same reading. Pharmaceutical products should
                be prepared with low percentage error. The official standard (USP) is that all balances must have a 5 % or lower rate of percentage error.
                </p>
                <p>&nbsp&nbsp&nbsp&nbsp If the SR of a balance is known, the percentage of possible error when any amount of substance is weighed can be calculated.</p>
                    <div class="formulae"><p> $$\%Error = {SR \over Amount \ to \ weigh } \times 100 $$</p></div>
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>

                <p><b>Solved Problem: </b>
                What is the maximum percentage error in weighing 300 mg of a drug on a balance with SR of 5 mg?</p>

                <p><b>Approach: </b>Using the above formula, divide the SR by the amount to weigh. Multiply by 100 to calculate the percentage error.</p>
                    <div class="formulae"><p> $$\%Error = {5mg \over 300 \ mg }  \times 100  = 1.67 \% $$</p></div>

                      </tr>
                </td>
                            <tr>
                <td>

      <p><b>Solved Problem: </b>
                If a balance has SR of 6 mg and 6 mg is weighed on this balance, calculate the percentage error?</p>

                <p><b>Approach: </b>Using the above formula, divide the SR by the amount to weigh. Multiply by 100 to calculate the percentage error.</p>
                    <div class="formulae"><p> $$\%Error = {6mg \over 6 \ mg } \times 100  = 100 \% $$</p></div>

                <p>In the above problem there is 100 % chance that the balance will not measure 6 mg accurately. 
                Standards set up by the USP state that all prescription balances must have 5% or lower percentage errors.</p>
            
                </td>
            </tr>
            


        </tbody>
    </table>
                </div>

            </div>

         
<% include ../../partials/footer %>