<% include ../../partials/header_module_pharma %>

                <h2><u>Sensitivity Requirement</u></h2>
                <p> Class A prescription balances are designed for weighing of pharmaceutical substances required in filling of prescription. 
                A class A balance must have a <b>Sensitivity Requirement (SR)</b> of 6 mg or less. 
                SR is defined as the minimum weight that causes the pointer to move by one division.
                </p>
                <img src="/images/pharmaceutical_measurement/img1.PNG" class="static">

                <br>
                     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><span><b>Solved Problem: </b></span> Calculate the SR of a prescription balance if a 20 mg weight on this balance was able to move the pointer by 2 divisions. Does this satisfy the SR for a Class A balance?</p>
                    <p><span><b>Approach: </b></span> SR is the amount of weight that can move the pointer by 1 division.</p>
                <div class="formulae"><p>$${20mg \over 2 \ divisions} = {x \over 1 \ division}$$</p></div>
					<p>SR = 10 mg.</p>
					<p><b>Answer: </b>No, this does not satisfy Class A prescription requirement.</p>
                    
                </td>
            </tr>
            


        </tbody>
    </table>
                </div>
   
            </div>

         
<% include ../../partials/footer %>