<% include ../../partials/header_module_pharma %>

                <h2><u>Measuring Volume by Aliquot Method</u></h2>
                <p> This method is similar to aliquot method for weighing but employs liquid rather than solid.</p>
                <p> Preliminary step: Determine the minimum volume that can be measured without error. For a graduated measuring cylinder,
                the minimum volume that can be measured without error will be 20 % of the capacity.</p>
                <p> Step-1: Select a measureable multiple of desired volume of the substance.</p>
                <p> Step-2: Dilute with an inert diluent (solvent, water, ethanol) to obtain a dilution.</p>
                <p> Step-3: Measure an aliquot of the dilution that will provide desired volume of the substance.</p>


                <br>

                <div class="Container">
                    <table class="table table-bordered">
           
                    <tbody>
                        <tr>
                            <td>
                        
                <p><b>Solved Problem: </b>
                A formula calls for 0.5 ml of acetic acid. Using 10 ml graduated cylinder, how would you obtain the required amount of 
                acetic acid by the aliquot method (use a multiple factor of 4)?
                <p><b>Approach: </b>Preliminary step: Determine the minimum volume that can be measured without error. </p>
				    <div class="formulae"><p> $$\%Minimum \ volume \ measured = 10 \times 0.2 = 2 ml $$</p></div>
                
                <p>Step-1: Select a measureable multiple (in this case 4) of desired volume of the substance.</p>
                <p>TThe formula requires 0.5 ml of acetic acid. The minimum volume that can be measured accurately is 2 ml. 
                choose a <b>multiple factor</b> of 4 and measure out 0.5 X 4 = 2 ml of drug. </p>
                <p>Step-2: Dilute with an inert diluent to obtain a dilution.</p>
                <p>2 ml is the minimum volume that can be measured.</p>
                <p>2 X 4 = 8 ml of dilution</p>
                <p>8 ml dilution – 2 ml of acetic acid = 6 ml of diluent.</p>
                <p>Dilute 2 ml of acetic acid with 6 ml of diluent to obtain a 8 ml dilution.</p>
                <p><b>Answer: </b>Measure ¼ of dilution, or 2 ml of dilution, which will contain 0.5 ml of acetic acid.</p>
            </td>
            </tr>
            </tbody>
            </table>
            </div>

            </div>
            </div>

         
<% include ../../partials/footer %>